<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Goal" data-toc-modified-id="Goal-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Goal</a></span></li><li><span><a href="#Var" data-toc-modified-id="Var-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Var</a></span></li><li><span><a href="#Init" data-toc-modified-id="Init-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Init</a></span></li><li><span><a href="#Load" data-toc-modified-id="Load-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Load</a></span></li><li><span><a href="#IndD" data-toc-modified-id="IndD-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>IndD</a></span><ul class="toc-item"><li><span><a href="#Checks" data-toc-modified-id="Checks-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Checks</a></span></li><li><span><a href="#Host-metadata-to-tree" data-toc-modified-id="Host-metadata-to-tree-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Host metadata to tree</a></span><ul class="toc-item"><li><span><a href="#Diet" data-toc-modified-id="Diet-5.2.1"><span class="toc-item-num">5.2.1&nbsp;&nbsp;</span>Diet</a></span></li></ul></li><li><span><a href="#Microbiome-abundances-to-tree" data-toc-modified-id="Microbiome-abundances-to-tree-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Microbiome abundances to tree</a></span><ul class="toc-item"><li><span><a href="#Phylum" data-toc-modified-id="Phylum-5.3.1"><span class="toc-item-num">5.3.1&nbsp;&nbsp;</span>Phylum</a></span><ul class="toc-item"><li><span><a href="#Abundance-summary" data-toc-modified-id="Abundance-summary-5.3.1.1"><span class="toc-item-num">5.3.1.1&nbsp;&nbsp;</span>Abundance summary</a></span></li></ul></li><li><span><a href="#Class" data-toc-modified-id="Class-5.3.2"><span class="toc-item-num">5.3.2&nbsp;&nbsp;</span>Class</a></span><ul class="toc-item"><li><span><a href="#Abundance-summary" data-toc-modified-id="Abundance-summary-5.3.2.1"><span class="toc-item-num">5.3.2.1&nbsp;&nbsp;</span>Abundance summary</a></span></li></ul></li><li><span><a href="#Family:-just-Eurys" data-toc-modified-id="Family:-just-Eurys-5.3.3"><span class="toc-item-num">5.3.3&nbsp;&nbsp;</span>Family: just Eurys</a></span><ul class="toc-item"><li><span><a href="#Abundance-summary" data-toc-modified-id="Abundance-summary-5.3.3.1"><span class="toc-item-num">5.3.3.1&nbsp;&nbsp;</span>Abundance summary</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#SpecD" data-toc-modified-id="SpecD-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>SpecD</a></span><ul class="toc-item"><li><span><a href="#Checks" data-toc-modified-id="Checks-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Checks</a></span></li><li><span><a href="#Metadata" data-toc-modified-id="Metadata-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Metadata</a></span><ul class="toc-item"><li><span><a href="#Diet" data-toc-modified-id="Diet-6.2.1"><span class="toc-item-num">6.2.1&nbsp;&nbsp;</span>Diet</a></span></li><li><span><a href="#Diet:-detailed" data-toc-modified-id="Diet:-detailed-6.2.2"><span class="toc-item-num">6.2.2&nbsp;&nbsp;</span>Diet: detailed</a></span></li><li><span><a href="#Habitat" data-toc-modified-id="Habitat-6.2.3"><span class="toc-item-num">6.2.3&nbsp;&nbsp;</span>Habitat</a></span></li><li><span><a href="#wild/captive" data-toc-modified-id="wild/captive-6.2.4"><span class="toc-item-num">6.2.4&nbsp;&nbsp;</span>wild/captive</a></span></li><li><span><a href="#sample-type" data-toc-modified-id="sample-type-6.2.5"><span class="toc-item-num">6.2.5&nbsp;&nbsp;</span>sample type</a></span></li><li><span><a href="#digestive-system" data-toc-modified-id="digestive-system-6.2.6"><span class="toc-item-num">6.2.6&nbsp;&nbsp;</span>digestive system</a></span></li><li><span><a href="#Ruminant" data-toc-modified-id="Ruminant-6.2.7"><span class="toc-item-num">6.2.7&nbsp;&nbsp;</span>Ruminant</a></span></li><li><span><a href="#temp-regulation" data-toc-modified-id="temp-regulation-6.2.8"><span class="toc-item-num">6.2.8&nbsp;&nbsp;</span>temp regulation</a></span></li></ul></li><li><span><a href="#Taxon-abundances" data-toc-modified-id="Taxon-abundances-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span>Taxon abundances</a></span><ul class="toc-item"><li><span><a href="#Phylum" data-toc-modified-id="Phylum-6.3.1"><span class="toc-item-num">6.3.1&nbsp;&nbsp;</span>Phylum</a></span></li><li><span><a href="#Class" data-toc-modified-id="Class-6.3.2"><span class="toc-item-num">6.3.2&nbsp;&nbsp;</span>Class</a></span></li><li><span><a href="#Methanogens" data-toc-modified-id="Methanogens-6.3.3"><span class="toc-item-num">6.3.3&nbsp;&nbsp;</span>Methanogens</a></span></li><li><span><a href="#Alpha-diversity" data-toc-modified-id="Alpha-diversity-6.3.4"><span class="toc-item-num">6.3.4&nbsp;&nbsp;</span>Alpha diversity</a></span><ul class="toc-item"><li><span><a href="#Shannon" data-toc-modified-id="Shannon-6.3.4.1"><span class="toc-item-num">6.3.4.1&nbsp;&nbsp;</span>Shannon</a></span></li><li><span><a href="#Faiths-PD" data-toc-modified-id="Faiths-PD-6.3.4.2"><span class="toc-item-num">6.3.4.2&nbsp;&nbsp;</span>Faiths PD</a></span></li></ul></li></ul></li><li><span><a href="#Seq-general" data-toc-modified-id="Seq-general-6.4"><span class="toc-item-num">6.4&nbsp;&nbsp;</span>Seq general</a></span><ul class="toc-item"><li><span><a href="#Counts-per-sample" data-toc-modified-id="Counts-per-sample-6.4.1"><span class="toc-item-num">6.4.1&nbsp;&nbsp;</span>Counts per sample</a></span></li><li><span><a href="#Number-of-samples" data-toc-modified-id="Number-of-samples-6.4.2"><span class="toc-item-num">6.4.2&nbsp;&nbsp;</span>Number of samples</a></span></li></ul></li></ul></li><li><span><a href="#sessionInfo" data-toc-modified-id="sessionInfo-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>sessionInfo</a></span></li></ul></div>

# Goal

* Map archaea data (eg., clade abundances & alpha diversity) to the host phylogeny

# Var

In [97]:
work_dir = '/ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/dataset_explore/'

# microbiome
## raw counts
### 16S-arch phyloseq object (one sample per species)
physeq_arch_SpecD_file = '/ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/merged/phyloseq/physeq_arch_SpecD.RDS'
### 16S-arch phyloseq object (one sample per individual)
physeq_arch_IndD_file = '/ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/merged/phyloseq/physeq_arch_IndD.RDS'
## clr-transformed
### 16S-arch phyloseq object (one sample per species)
physeq_arch_SpecD_clr_file = ' /ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/merged/phyloseq/physeq_arch_SpecD_clr_digSysR.RDS'
### 16S-arch phyloseq object (one sample per individual)
physeq_arch_IndD_clr_file = '/ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/merged/phyloseq/physeq_arch_IndD_clr_digSysR.RDS'

# diversity
alpha_div_file = '/ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/merged/diversity-qiime2/alpha_div.RDS'
beta_div_file = '/ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/merged/diversity-qiime2/beta_div.RDS'

# host tree
host_tree_SpecD_file = '/ebio/abt3_projects/Georg_animal_feces/data/animal/phylogeny/TT/unified_metadata_complete_200429_16S-arch.nwk'
host_tree_IndD_file = '/ebio/abt3_projects/Georg_animal_feces/data/animal/phylogeny/TT/unified_metadata_complete_200429_16S-arch_IndD.nwk'

# Init

In [98]:
library(dplyr)
library(tidyr)
library(ggplot2)
library(phyloseq)
library(ape)
library(data.table)
library(tidytable)
library(LeyLabRMisc)

In [99]:
df.dims()
make_dir(work_dir)

Directory already exists: /ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/dataset_explore/

# Load

In [100]:
# phyloseq
physeq_arch_SpecD = readRDS(physeq_arch_SpecD_file)
physeq_arch_SpecD %>% sample_sums %>% summary_x('Sample counts')
physeq_arch_SpecD

              Min. 1st Qu. Median Mean     3rd Qu. Max.  sd      sd_err_of_mean
Sample counts 251  645.25  1277.5 2072.955 2459.25 32294 12663.8 5169.976

phyloseq-class experiment-level object
otu_table()   OTU Table:         [ 1151 taxa and 110 samples ]
sample_data() Sample Data:       [ 110 samples by 88 sample variables ]
tax_table()   Taxonomy Table:    [ 1151 taxa by 7 taxonomic ranks ]
phy_tree()    Phylogenetic Tree: [ 1151 tips and 1150 internal nodes ]

In [101]:
# phyloseq
physeq_arch_IndD = readRDS(physeq_arch_IndD_file)
physeq_arch_IndD %>% sample_sums %>% summary_x('Sample counts')
physeq_arch_IndD

              Min. 1st Qu. Median Mean    3rd Qu. Max.  sd       sd_err_of_mean
Sample counts 251  732     1567   2360.93 2973    32294 12580.34 5135.903

phyloseq-class experiment-level object
otu_table()   OTU Table:         [ 1891 taxa and 185 samples ]
sample_data() Sample Data:       [ 185 samples by 88 sample variables ]
tax_table()   Taxonomy Table:    [ 1891 taxa by 7 taxonomic ranks ]
phy_tree()    Phylogenetic Tree: [ 1891 tips and 1888 internal nodes ]

In [46]:
# alpha diversity
alpha_div = readRDS(alpha_div_file) %>%
    do.call(cbind, .) %>%
    mutate(SampleID = row.names(.)) %>%
    data.table
alpha_div

    pielou_e  observed_otus shannon  faith_pd SampleID
1   0.6493088 29            3.154330 3.862071 F14_Common_Bream
2   0.8770891 19            3.725811 3.337468 F35_Red_Deer
⋮   ⋮         ⋮             ⋮        ⋮        ⋮
184 0.7195625 19            3.056649 3.376661 X431_Quagga
185 0.6582057  7            1.847817 2.200689 X67_European_Roe

In [47]:
# beta diversity
beta_div = readRDS(beta_div_file)
beta_div %>% length

[1] 4

In [48]:
# host tree
host_tree_SpecD = read.tree(host_tree_SpecD_file)
host_tree_SpecD

Phylogenetic tree with 110 tips and 109 internal nodes.

Tip labels:
	Leuciscus_cephalus, Rutilus_rutilus, Leuciscus_idus, Blicca_bjoerkna, Abramis_brama, Cyprinus_carpio, ...
Node labels:
	, @_20_@, @_17_@, @_14_@, @_9_@, @_15_@, ...

Rooted; includes branch lengths.

In [49]:
# host tree
host_tree_IndD = read.tree(host_tree_IndD_file)
host_tree_IndD

Phylogenetic tree with 185 tips and 184 internal nodes.

Tip labels:
	X60_European_Chub, X179_Roach, X330_Ide, X327_Silver_Bream, X326_Silver_Bream, F14_Common_Bream, ...
Node labels:
	, @_20_@, @_17_@, @_14_@, @_9_@, @_15_@, ...

Rooted; includes branch lengths.

# IndD

## Checks

In [50]:
# IndD: physeq vs host tree
overlap(physeq_arch_IndD %>% sample_names, host_tree_IndD$tip.label)

intersect(x,y): 185
setdiff(x,y): 0
setdiff(y,x): 0
union(x,y): 185

In [51]:
# IndD: physeq vs alpha-div
overlap(physeq_arch_IndD %>% sample_names, alpha_div %>% dt_pull(SampleID))

intersect(x,y): 185
setdiff(x,y): 0
setdiff(y,x): 0
union(x,y): 185

In [52]:
# one sample per individual? 
physeq_arch_IndD %>%
    phyloseq2df(sample_data) %>%
    group_by(host_subject_id) %>%
    summarize(n = n()) %>%
    ungroup()  %>%
    .$n %>% summary

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
      1       1       1       1       1       1

## Host metadata to tree

In [53]:
meta = physeq_arch_IndD %>% sample_data %>% as.matrix %>% as.data.table
meta

    SampleID         host_subject_id host_german_name host_common_name
1   F14_Common_Bream F14             Brachse          Common.Bream
2   F35_Red_Deer     F35             Rothirsch        Red.Deer
⋮   ⋮                ⋮               ⋮                ⋮
184 X431_Quagga      431             Steppenzebra     Quagga
185 X67_European_Roe 67              Reh              European.Roe
    scientific_name     scientific_name_subspecies host_taxid class
1   Abramis_brama       NA                           38527    Actinopterygii
2   Cervus_elaphus      NA                            9860    Mammalia
⋮   ⋮                   ⋮                          ⋮          ⋮
184 Equus_quagga        NA                           89252    Mammalia
185 Capreolus_capreolus NA                            9858    Mammalia
    order          family     ⋯ CH4_kJ.d_mean CH4_kJ.d_sd i.CH4_L.d_mean
1   Cypriniformes  Cyprinidae ⋯ NA            NA          NA
2   Artiodactyla   Cervidae   ⋯  2066.94152   1075.50477   52.2413228
⋮   ⋮              ⋮          ⋱ ⋮             ⋮           ⋮
184 Perissodactyla Equidae    ⋯ NA            NA          NA
185 Artiodactyla   Cervidae   ⋯ NA            NA          NA
    i.CH4_L.d_sd i.CH4_L.kgBM_mean i.CH4_L.kgBM_sd i.CH4_g.d_mean i.CH4_g.d_sd
1   NA           NA                NA              NA             NA
2   27.1830584   0.4858472         0.16869553       38.6711742    21.3016201
⋮   ⋮            ⋮                 ⋮               ⋮              ⋮
184 NA           NA                NA              NA             NA
185 NA           NA                NA              NA             NA
    i.CH4_kJ.d_mean i.CH4_kJ.d_sd
1   NA              NA
2    2066.94152     1075.50477
⋮   ⋮               ⋮
184 NA              NA
185 NA              NA

### Diet

In [57]:
# simple diet
x = meta %>%
    dt_select(SampleID, diet) %>%
    as.data.frame
rownames(x) = x$SampleID
x$SampleID = NULL

# legend
y = meta %>% dt_pull(diet) %>% unique
cols = c('#FFCC33', '#00CC00', '#FF0000')
legend = data.frame(labels = y,
                    colors = cols,
                    shapes = rep(1, length(labels)))

# creating file
F = file.path(work_dir, 'IndD_diet_clrstrp.txt')
itol_colorstrip(x, 'diet', F, legend=legend)

File written: /ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/dataset_explore//IndD_diet_clrstrp.txt

## Microbiome abundances to tree

In [58]:
otu = physeq_arch_IndD %>%
    phyloseq2df(otu_table, long=TRUE) %>%
    as.data.table

tax = physeq_arch_IndD %>%
    phyloseq2df(tax_table) %>%
    as.data.table

otu = otu %>%
    dt_inner_join(tax, c('OTU'))
otu

       OTU                              Sample           Count Domain
1      0e97060fe4b9be17bddeedcd27826b04 F14_Common_Bream 0     Archaea
2      0e97060fe4b9be17bddeedcd27826b04 F35_Red_Deer     0     Archaea
⋮      ⋮                                ⋮                ⋮     ⋮
349834 467eeae6997d3667b5d07a76bc1bcdfd X431_Quagga      0     Archaea
349835 467eeae6997d3667b5d07a76bc1bcdfd X67_European_Roe 0     Archaea
       Phylum        Class           Order              Family
1      Euryarchaeota Methanobacteria Methanobacteriales Methanobacteriaceae
2      Euryarchaeota Methanobacteria Methanobacteriales Methanobacteriaceae
⋮      ⋮             ⋮               ⋮                  ⋮
349834 Euryarchaeota Methanobacteria Methanobacteriales Methanobacteriaceae
349835 Euryarchaeota Methanobacteria Methanobacteriales Methanobacteriaceae
       Genus              Species
1      Methanobrevibacter unclassified
2      Methanobrevibacter unclassified
⋮      ⋮                  ⋮
349834 Methanobrevibacter unclassified
349835 Methanobrevibacter unclassified

In [59]:
# total counts per sample
otu %>%
    dt_summarize(total_count = sum(Count), by=c(Sample)) %>%
    dt_pull(total_count) %>% summary_x('total_count')

            Min. 1st Qu. Median Mean    3rd Qu. Max.  sd       sd_err_of_mean
total_count 251  732     1567   2360.93 2973    32294 12580.34 5135.903

In [60]:
# perc abundance
otu = otu %>%
    dt_mutate(total_count = sum(Count), by=c(Sample)) %>%
    dt_mutate(perc_abund = Count / total_count * 100) 

otu %>% dt_pull(perc_abund) %>% summary_x

  Min. 1st Qu. Median Mean       3rd Qu. Max.     sd     sd_err_of_mean
. 0    0       0      0.05288207 0       94.38129 38.527 15.728

### Phylum

In [61]:
phylum = otu %>%
    dt_summarize(perc_abund = sum(perc_abund),
                 by=c(Sample, Phylum))
phylum

     Sample           Phylum        perc_abund
1    F14_Common_Bream Euryarchaeota 99.53717
2    F35_Red_Deer     Euryarchaeota 99.78655
⋮    ⋮                ⋮             ⋮
1109 X431_Quagga      Crenarchaeota 0
1110 X67_European_Roe Crenarchaeota 0

In [62]:
# summarizing
phylum %>% unique_n('Phyla', Phylum)
phylum %>% dt_pull(Phylum) %>% unique

No. of unique Phyla: 6

[1] "Euryarchaeota"   "Nanoarchaeaeota" "Thaumarchaeota"  "Diapherotrites"
[5] "Asgardaeota"     "Crenarchaeota"

In [63]:
# ordering by overall abundance
x = phylum %>%
    dt_summarize(mean_abund = mean(perc_abund), by=c(Phylum)) %>%
    arrange(-mean_abund)
df.dims(10)
x
df.dims()

  Phylum          mean_abund
1 Euryarchaeota   94.592923120
2 Thaumarchaeota   4.991003406
3 Crenarchaeota    0.347218110
4 Nanoarchaeaeota  0.064042155
5 Asgardaeota      0.002896399
6 Diapherotrites   0.001916810

In [64]:
# sorting
phy_by_abund = x$Phylum
phy_by_abund = c('Sample', phy_by_abund)
phy_by_abund

[1] "Sample"          "Euryarchaeota"   "Thaumarchaeota"  "Crenarchaeota"
[5] "Nanoarchaeaeota" "Asgardaeota"     "Diapherotrites"

In [65]:
# creating multi-bar 
x = phylum %>%
    dt_pivot_wider(names_from=Phylum, values_from=perc_abund) %>%
    dt_select({{phy_by_abund}}) %>%
    as.data.frame 
rownames(x) = x$Sample
x$Sample = NULL
x

                    Euryarchaeota Thaumarchaeota Crenarchaeota Nanoarchaeaeota
F14_Common_Bream    99.53717       0.00000       0.4049754     0.05785363
F157a_European_Toad 78.35821      21.64179       0.0000000     0.00000000
⋮                   ⋮             ⋮              ⋮             ⋮
X95_Meadow_Viper      4.253308    95.74669       0             0
X96_European_Hare   100.000000     0.00000       0             0
                    Asgardaeota Diapherotrites
F14_Common_Bream    0           0
F157a_European_Toad 0           0
⋮                   ⋮           ⋮
X95_Meadow_Viper    0           0
X96_European_Hare   0           0

In [66]:
# writing itol input file
F = file.path(work_dir, 'IndD_phylum-abund_multibar.txt')
itol_multibar(x, 'Phylum_perc_abund', F)

File written: /ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/dataset_explore//IndD_phylum-abund_multibar.txt

#### Abundance summary

In [67]:
df.dims(10)
phylum %>%
    dt_summarize(mean_abund = mean(perc_abund), 
                 sd_abund = sd(perc_abund),
                 max_abund = max(perc_abund),
                 by=c(Phylum)) %>%
    dt_mutate_across(is.numeric, function(x) round(x,1)) %>%
    dt_arrange(-mean_abund) %>%
    dt_rename('Mean Perc. Abund.' = mean_abund,
              's.d. Perc. Abund.' = sd_abund,
              'Max Perc. Abund.' = max_abund)
df.dims()

  Phylum          Mean Perc. Abund. s.d. Perc. Abund. Max Perc. Abund.
1 Euryarchaeota   94.6              18.5              100.0
2 Thaumarchaeota   5.0              17.7              100.0
3 Crenarchaeota    0.3               3.4               42.2
4 Nanoarchaeaeota  0.1               0.4                3.6
5 Diapherotrites   0.0               0.0                0.4
6 Asgardaeota      0.0               0.0                0.5

### Class

In [68]:
otu_s = otu %>%
    dt_summarize(perc_abund = sum(perc_abund),
                 by=c(Sample, Phylum, Class)) %>%
    dt_mutate(Taxonomy = paste(Phylum, Class, sep=';')) %>%
    dt_select(-Phylum, -Class)
otu_s

     Sample           perc_abund Taxonomy
1    F14_Common_Bream 75.58577   Euryarchaeota;Methanobacteria
2    F35_Red_Deer     65.90181   Euryarchaeota;Methanobacteria
⋮    ⋮                ⋮          ⋮
2034 X431_Quagga      0          Euryarchaeota;unclassified
2035 X67_European_Roe 0          Euryarchaeota;unclassified

In [69]:
# summarizing
otu_s %>% unique_n('Classes', Taxonomy)
otu_s %>% dt_pull(Taxonomy) %>% unique

No. of unique Classes: 11

 [1] "Euryarchaeota;Methanobacteria"  "Euryarchaeota;Thermococci"
 [3] "Nanoarchaeaeota;Woesearchaeia"  "Euryarchaeota;Halobacteria"
 [5] "Euryarchaeota;Methanomicrobia"  "Euryarchaeota;Thermoplasmata"
 [7] "Thaumarchaeota;Nitrososphaeria" "Diapherotrites;Iainarchaeia"
 [9] "Asgardaeota;Odinarchaeia"       "Crenarchaeota;Bathyarchaeia"
[11] "Euryarchaeota;unclassified"

In [70]:
# changing rare to "Other"
otu_s = otu_s %>%
    dt_mutate(mean_perc_abund = mean(perc_abund), by=c(Taxonomy)) %>%
    dt_mutate(Taxonomy = Taxonomy %>% as.character,
              Taxonomy = ifelse(mean_perc_abund < 1, 'Other', Taxonomy)) %>%
    dt_select(-mean_perc_abund)
otu_s

     Sample           perc_abund Taxonomy
1    F14_Common_Bream 75.58577   Euryarchaeota;Methanobacteria
2    F35_Red_Deer     65.90181   Euryarchaeota;Methanobacteria
⋮    ⋮                ⋮          ⋮
2034 X431_Quagga      0          Other
2035 X67_European_Roe 0          Other

In [71]:
# summarizing
otu_s %>% unique_n('Classes', Taxonomy)
otu_s %>% dt_pull(Taxonomy) %>% unique

No. of unique Classes: 6

[1] "Euryarchaeota;Methanobacteria"  "Other"
[3] "Euryarchaeota;Halobacteria"     "Euryarchaeota;Methanomicrobia"
[5] "Euryarchaeota;Thermoplasmata"   "Thaumarchaeota;Nitrososphaeria"

In [72]:
# ordering by overall abundance
x = otu_s %>%
    dt_summarize(mean_abund = mean(perc_abund), by=c(Taxonomy)) %>%
    arrange(-mean_abund)
df.dims(10)
x
df.dims()

  Taxonomy                       mean_abund
1 Euryarchaeota;Methanobacteria  71.40408099
2 Euryarchaeota;Methanomicrobia  11.31239599
3 Euryarchaeota;Thermoplasmata    8.42753160
4 Thaumarchaeota;Nitrososphaeria  4.99100341
5 Euryarchaeota;Halobacteria      3.33597332
6 Other                           0.08816912

In [73]:
# sorting
phy_by_abund = x$Taxonomy
phy_by_abund = c('Sample', phy_by_abund)
phy_by_abund

[1] "Sample"                         "Euryarchaeota;Methanobacteria"
[3] "Euryarchaeota;Methanomicrobia"  "Euryarchaeota;Thermoplasmata"
[5] "Thaumarchaeota;Nitrososphaeria" "Euryarchaeota;Halobacteria"
[7] "Other"

In [74]:
# creating multi-bar 
x = otu_s %>%
    dt_pivot_wider(names_from=Taxonomy, values_from=perc_abund, values_fn=sum) %>%
    dt_select({{phy_by_abund}}) %>%
    as.data.frame 
rownames(x) = x$Sample
x$Sample = NULL
x

                    Euryarchaeota;Methanobacteria Euryarchaeota;Methanomicrobia
F14_Common_Bream    75.58577                      23.48857
F157a_European_Toad 78.35821                       0.00000
⋮                   ⋮                             ⋮
X95_Meadow_Viper      0                           3.497164
X96_European_Hare   100                           0.000000
                    Euryarchaeota;Thermoplasmata Thaumarchaeota;Nitrososphaeria
F14_Common_Bream    0.462829                      0.00000
F157a_European_Toad 0.000000                     21.64179
⋮                   ⋮                            ⋮
X95_Meadow_Viper    0.7561437                    95.74669
X96_European_Hare   0.0000000                     0.00000
                    Euryarchaeota;Halobacteria Other
F14_Common_Bream    0                          0.462829
F157a_European_Toad 0                          0.000000
⋮                   ⋮                          ⋮
X95_Meadow_Viper    0                          0
X96_European_Hare   0                          0

In [75]:
# checking abundances
x %>% apply(1, sum) %>% summary

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
    100     100     100     100     100     100

In [76]:
# writing itol input file
F = file.path(work_dir, 'IndD_class-abund_multibar.txt')
itol_multibar(x, 'Class_perc_abund', F)

File written: /ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/dataset_explore//IndD_class-abund_multibar.txt

#### Abundance summary

In [77]:
otu_s = otu %>%
    dt_summarize(perc_abund = sum(perc_abund),
                 by=c(Sample, Phylum, Class)) %>%
    dt_mutate(Taxonomy = paste(Phylum, Class, sep=';')) %>%
    dt_select(-Phylum, -Class)
otu_s

     Sample           perc_abund Taxonomy
1    F14_Common_Bream 75.58577   Euryarchaeota;Methanobacteria
2    F35_Red_Deer     65.90181   Euryarchaeota;Methanobacteria
⋮    ⋮                ⋮          ⋮
2034 X431_Quagga      0          Euryarchaeota;unclassified
2035 X67_European_Roe 0          Euryarchaeota;unclassified

In [78]:
# changing rare to "Other"
otu_s = otu_s %>%
    dt_mutate(mean_perc_abund = mean(perc_abund), by=c(Taxonomy)) %>%
    dt_mutate(Taxonomy = Taxonomy %>% as.character,
              Taxonomy = ifelse(mean_perc_abund < 0.01, 'Other', Taxonomy)) %>%
    dt_select(-mean_perc_abund)
otu_s

     Sample           perc_abund Taxonomy
1    F14_Common_Bream 75.58577   Euryarchaeota;Methanobacteria
2    F35_Red_Deer     65.90181   Euryarchaeota;Methanobacteria
⋮    ⋮                ⋮          ⋮
2034 X431_Quagga      0          Euryarchaeota;unclassified
2035 X67_European_Roe 0          Euryarchaeota;unclassified

In [79]:
df.dims(10)
otu_s %>%
    dt_summarize(mean_abund = mean(perc_abund), 
                 sd_abund = sd(perc_abund),
                 max_abund = max(perc_abund),
                 by=c(Taxonomy)) %>%
    dt_mutate_across(is.numeric, function(x) round(x,1)) %>%
    dt_arrange(-mean_abund) %>%
    dt_rename('Mean Perc. Abund.' = mean_abund,
              's.d. Perc. Abund.' = sd_abund,
              'Max Perc. Abund.' = max_abund)
df.dims()

  Taxonomy                       Mean Perc. Abund. s.d. Perc. Abund.
1 Euryarchaeota;Methanobacteria  71.4              34.5
2 Euryarchaeota;Methanomicrobia  11.3              21.6
3 Euryarchaeota;Thermoplasmata    8.4              19.9
4 Thaumarchaeota;Nitrososphaeria  5.0              17.7
5 Euryarchaeota;Halobacteria      3.3              16.9
6 Crenarchaeota;Bathyarchaeia     0.3               3.4
7 Nanoarchaeaeota;Woesearchaeia   0.1               0.4
8 Euryarchaeota;unclassified      0.1               0.7
9 Other                           0.0               0.0
  Max Perc. Abund.
1 100.0
2  90.6
3 100.0
4 100.0
5  98.2
6  42.2
7   3.6
8   6.3
9   0.7

### Family: just Eurys

In [80]:
otu_s = otu %>%
    dt_summarize(perc_abund = sum(perc_abund),
                 by=c(Sample, Phylum, Class, Order, Family)) %>%
    dt_mutate(Taxonomy = paste(Phylum, Class, Order, Family, sep=';')) %>%
    dt_mutate(Taxonomy = Taxonomy %>% as.character,
              Taxonomy = ifelse(Phylum != 'Euryarchaeota', 'Other', Taxonomy),
              Taxonomy = ifelse(grepl('^(unclassified|Uncultured|uncultured)', Family), 'Other', Taxonomy)) %>%
    dt_select(-Phylum, -Class, -Order, -Family)
otu_s

     Sample           perc_abund
1    F14_Common_Bream 75.58577
2    F35_Red_Deer     65.90181
⋮    ⋮                ⋮
6844 X431_Quagga      0
6845 X67_European_Roe 0
     Taxonomy
1    Euryarchaeota;Methanobacteria;Methanobacteriales;Methanobacteriaceae
2    Euryarchaeota;Methanobacteria;Methanobacteriales;Methanobacteriaceae
⋮    ⋮
6844 Other
6845 Other

In [81]:
# summarizing
otu_s %>% unique_n('Eury families', Taxonomy)
otu_s %>% dt_pull(Taxonomy) %>% unique

No. of unique Eury families: 18

 [1] "Euryarchaeota;Methanobacteria;Methanobacteriales;Methanobacteriaceae"
 [2] "Euryarchaeota;Methanobacteria;Methanobacteriales;Methanothermobacteraceae"
 [3] "Euryarchaeota;Thermococci;Methanofastidiosales;Methanofastidiosaceae"
 [4] "Other"
 [5] "Euryarchaeota;Halobacteria;Halobacteriales;Halomicrobiaceae"
 [6] "Euryarchaeota;Halobacteria;Halobacteriales;Halococcaceae"
 [7] "Euryarchaeota;Halobacteria;Halobacteriales;Haloferacaceae"
 [8] "Euryarchaeota;Halobacteria;Halobacteriales;Haloadaptaceae"
 [9] "Euryarchaeota;Methanomicrobia;Methanosarcinales;Methanosaetaceae"
[10] "Euryarchaeota;Methanomicrobia;Methanosarcinales;Methanoperedenaceae"
[11] "Euryarchaeota;Methanomicrobia;Methanosarcinales;Methanosarcinaceae"
[12] "Euryarchaeota;Methanomicrobia;Methanocellales;Methanocellaceae"
[13] "Euryarchaeota;Methanomicrobia;Methanomicrobiales;Methanomicrobiaceae"
[14] "Euryarchaeota;Methanomicrobia;Methanomicrobiales;Methanocorpusculaceae"
[15] "Euryarchaeota;Thermoplasmata;Methanomassiliicoccales;Methanomethylophilaceae"
[16] "Euryarchaeota;Methanomicrobia;Methanomicrobiales;Methanoregulaceae"
[17] "Euryarchaeota;Methanomicrobia;Methanomicrobiales;Methanospirillaceae"
[18] "Euryarchaeota;Thermoplasmata;Methanomassiliicoccales;Methanomassiliicoccaceae"

In [82]:
# changing rare to "Other"
otu_s = otu_s %>%
    dt_mutate(mean_perc_abund = mean(perc_abund), by=c(Taxonomy)) %>%
    dt_mutate(Taxonomy = Taxonomy %>% as.character,
              Taxonomy = ifelse(mean_perc_abund < 1, 'Other', Taxonomy)) %>%
    dt_select(-mean_perc_abund)
otu_s

     Sample           perc_abund
1    F14_Common_Bream 75.58577
2    F35_Red_Deer     65.90181
⋮    ⋮                ⋮
6844 X431_Quagga      0
6845 X67_European_Roe 0
     Taxonomy
1    Euryarchaeota;Methanobacteria;Methanobacteriales;Methanobacteriaceae
2    Euryarchaeota;Methanobacteria;Methanobacteriales;Methanobacteriaceae
⋮    ⋮
6844 Other
6845 Other

In [83]:
# summarizing
otu_s %>% unique_n('Eury families', Taxonomy)
otu_s %>% dt_pull(Taxonomy) %>% unique

No. of unique Eury families: 6

[1] "Euryarchaeota;Methanobacteria;Methanobacteriales;Methanobacteriaceae"
[2] "Euryarchaeota;Methanobacteria;Methanobacteriales;Methanothermobacteraceae"
[3] "Other"
[4] "Euryarchaeota;Halobacteria;Halobacteriales;Haloferacaceae"
[5] "Euryarchaeota;Methanomicrobia;Methanomicrobiales;Methanocorpusculaceae"
[6] "Euryarchaeota;Thermoplasmata;Methanomassiliicoccales;Methanomethylophilaceae"

In [84]:
# ordering by overall abundance
x = otu_s %>%
    dt_summarize(mean_abund = mean(perc_abund), by=c(Taxonomy)) %>%
    arrange(-mean_abund)
df.dims(10)
x
df.dims()

  Taxonomy
1 Euryarchaeota;Methanobacteria;Methanobacteriales;Methanobacteriaceae
2 Euryarchaeota;Methanobacteria;Methanobacteriales;Methanothermobacteraceae
3 Euryarchaeota;Methanomicrobia;Methanomicrobiales;Methanocorpusculaceae
4 Euryarchaeota;Thermoplasmata;Methanomassiliicoccales;Methanomethylophilaceae
5 Euryarchaeota;Halobacteria;Halobacteriales;Haloferacaceae
6 Other
  mean_abund
1 47.4157366
2 23.9883444
3  9.7227707
4  8.3806663
5  2.7629815
6  0.2415469

In [85]:
# sorting
phy_by_abund = x$Taxonomy
phy_by_abund = c('Sample', phy_by_abund)
phy_by_abund

[1] "Sample"
[2] "Euryarchaeota;Methanobacteria;Methanobacteriales;Methanobacteriaceae"
[3] "Euryarchaeota;Methanobacteria;Methanobacteriales;Methanothermobacteraceae"
[4] "Euryarchaeota;Methanomicrobia;Methanomicrobiales;Methanocorpusculaceae"
[5] "Euryarchaeota;Thermoplasmata;Methanomassiliicoccales;Methanomethylophilaceae"
[6] "Euryarchaeota;Halobacteria;Halobacteriales;Haloferacaceae"
[7] "Other"

In [86]:
# creating multi-bar 
x = otu_s %>%
    dt_pivot_wider(names_from=Taxonomy, values_from=perc_abund, values_fn=sum) %>%
    dt_select({{phy_by_abund}}) %>%
    as.data.frame 
rownames(x) = x$Sample
x$Sample = NULL
colnames(x) = gsub('^Euryarchaeota;', '', colnames(x))
x

                    Methanobacteria;Methanobacteriales;Methanobacteriaceae
F14_Common_Bream    75.58577
F157a_European_Toad 78.35821
⋮                   ⋮
X95_Meadow_Viper     0.0000
X96_European_Hare   98.3857
                    Methanobacteria;Methanobacteriales;Methanothermobacteraceae
F14_Common_Bream    0
F157a_European_Toad 0
⋮                   ⋮
X95_Meadow_Viper    0.000000
X96_European_Hare   1.614298
                    Methanomicrobia;Methanomicrobiales;Methanocorpusculaceae
F14_Common_Bream    1.880243
F157a_European_Toad 0.000000
⋮                   ⋮
X95_Meadow_Viper    3.497164
X96_European_Hare   0.000000
                    Thermoplasmata;Methanomassiliicoccales;Methanomethylophilaceae
F14_Common_Bream    0.1735609
F157a_European_Toad 0.0000000
⋮                   ⋮
X95_Meadow_Viper    0.7561437
X96_European_Hare   0.0000000
                    Halobacteria;Halobacteriales;Haloferacaceae Other
F14_Common_Bream    0                                           22.36043
F157a_European_Toad 0                                           21.64179
⋮                   ⋮                                           ⋮
X95_Meadow_Viper    0                                           95.74669
X96_European_Hare   0                                            0.00000

In [87]:
# checking abundances
x %>% apply(1, sum) %>% summary

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
    100     100     100     100     100     100

In [88]:
# writing itol input file
F = file.path(work_dir, 'IndD_eury-family-abund_multibar.txt')
itol_multibar(x, 'Family_eury_perc_abund', F)

File written: /ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/dataset_explore//IndD_eury-family-abund_multibar.txt

#### Abundance summary

In [89]:
otu_s = otu %>%
    dt_summarize(perc_abund = sum(perc_abund),
                 by=c(Sample, Phylum, Class, Order, Family)) %>%
    dt_mutate(Taxonomy = paste(Phylum, Class, Order, Family, sep=';')) %>%
    dt_mutate(Taxonomy = Taxonomy %>% as.character,
              Taxonomy = ifelse(Phylum != 'Euryarchaeota', 'Other', Taxonomy),
              Taxonomy = ifelse(grepl('^(unclassified|Uncultured|uncultured)', Family), 'Other', Taxonomy)) %>%
    dt_select(-Phylum, -Class, -Order, -Family)
otu_s

     Sample           perc_abund
1    F14_Common_Bream 75.58577
2    F35_Red_Deer     65.90181
⋮    ⋮                ⋮
6844 X431_Quagga      0
6845 X67_European_Roe 0
     Taxonomy
1    Euryarchaeota;Methanobacteria;Methanobacteriales;Methanobacteriaceae
2    Euryarchaeota;Methanobacteria;Methanobacteriales;Methanobacteriaceae
⋮    ⋮
6844 Other
6845 Other

In [90]:
# changing rare to "Other"
otu_s = otu_s %>%
    dt_mutate(mean_perc_abund = mean(perc_abund), by=c(Taxonomy)) %>%
    dt_mutate(Taxonomy = Taxonomy %>% as.character,
              Taxonomy = ifelse(mean_perc_abund < 0.01, 'Other', Taxonomy)) %>%
    dt_select(-mean_perc_abund)
otu_s

     Sample           perc_abund
1    F14_Common_Bream 75.58577
2    F35_Red_Deer     65.90181
⋮    ⋮                ⋮
6844 X431_Quagga      0
6845 X67_European_Roe 0
     Taxonomy
1    Euryarchaeota;Methanobacteria;Methanobacteriales;Methanobacteriaceae
2    Euryarchaeota;Methanobacteria;Methanobacteriales;Methanobacteriaceae
⋮    ⋮
6844 Other
6845 Other

In [91]:
df.dims(20)
otu_s %>%
    dt_summarize(mean_abund = mean(perc_abund), 
                 sd_abund = sd(perc_abund),
                 max_abund = max(perc_abund),
                 by=c(Taxonomy)) %>%
    dt_mutate_across(is.numeric, function(x) round(x,1)) %>%
    dt_arrange(-mean_abund) %>%
    dt_rename('Mean Perc. Abund.' = mean_abund,
              's.d. Perc. Abund.' = sd_abund,
              'Max Perc. Abund.' = max_abund)
df.dims()

   Taxonomy
1  Euryarchaeota;Methanobacteria;Methanobacteriales;Methanobacteriaceae
2  Euryarchaeota;Methanobacteria;Methanobacteriales;Methanothermobacteraceae
3  Euryarchaeota;Methanomicrobia;Methanomicrobiales;Methanocorpusculaceae
4  Euryarchaeota;Thermoplasmata;Methanomassiliicoccales;Methanomethylophilaceae
5  Euryarchaeota;Halobacteria;Halobacteriales;Haloferacaceae
6  Euryarchaeota;Methanomicrobia;Methanosarcinales;Methanosarcinaceae
7  Euryarchaeota;Halobacteria;Halobacteriales;Halococcaceae
8  Other
9  Euryarchaeota;Halobacteria;Halobacteriales;Halomicrobiaceae
10 Euryarchaeota;Halobacteria;Halobacteriales;Haloadaptaceae
11 Euryarchaeota;Methanomicrobia;Methanosarcinales;Methanosaetaceae
12 Euryarchaeota;Methanomicrobia;Methanomicrobiales;Methanospirillaceae
13 Euryarchaeota;Methanomicrobia;Methanosarcinales;Methanoperedenaceae
14 Euryarchaeota;Methanomicrobia;Methanocellales;Methanocellaceae
15 Euryarchaeota;Methanomicrobia;Methanomicrobiales;Methanomicrobiaceae
16 Euryarchaeota;Methanomicrobia;Methanomicrobiales;Methanoregulaceae
17 Euryarchaeota;Thermoplasmata;Methanomassiliicoccales;Methanomassiliicoccaceae
   Mean Perc. Abund. s.d. Perc. Abund. Max Perc. Abund.
1  47.4              38.6              100.0
2  24.0              35.5               97.4
3   9.7              21.2               90.6
4   8.4              19.9              100.0
5   2.8              14.4               85.5
6   1.0               3.3               20.7
7   0.4               2.0               13.6
8   0.3               4.1              100.0
9   0.1               0.4                5.2
10  0.1               1.0               14.2
11  0.1               0.5                6.6
12  0.1               1.1               13.9
13  0.0               0.2                2.5
14  0.0               0.2                2.1
15  0.0               0.3                3.8
16  0.0               0.2                1.5
17  0.0               0.3                3.1

# SpecD

## Checks

In [92]:
# IndD: physeq vs host tree
meta = physeq_arch_SpecD %>%
    sample_data %>% as.matrix %>% as.data.frame

overlap(meta %>% dt_pull(scientific_name), host_tree_SpecD$tip.label)

intersect(x,y): 110
setdiff(x,y): 0
setdiff(y,x): 0
union(x,y): 110

## Metadata

In [93]:
meta = physeq_arch_SpecD %>% sample_data %>% as.matrix %>% as.data.table
meta

    SampleID            host_subject_id host_german_name host_common_name
1   F14_Common_Bream    F14             Brachse          Common.Bream
2   F44_Fallow_Deer     F44             Damhirsch        Fallow.Deer
⋮   ⋮                   ⋮               ⋮                ⋮
109 X405_Nile_Crocodile 405             Nilkrokodil      Nile.Crocodile
110 X67_European_Roe    67              Reh              European.Roe
    scientific_name      scientific_name_subspecies host_taxid class
1   Abramis_brama        NA                          38527     Actinopterygii
2   Dama_dama            NA                          30532     Mammalia
⋮   ⋮                    ⋮                          ⋮          ⋮
109 Crocodylus_niloticus NA                           8501     Reptilia
110 Capreolus_capreolus  NA                           9858     Mammalia
    order         family       ⋯ CH4_kJ.d_mean CH4_kJ.d_sd i.CH4_L.d_mean
1   Cypriniformes Cyprinidae   ⋯ NA            NA          NA
2   Artiodactyla  Cervidae     ⋯ NA            NA          NA
⋮   ⋮             ⋮            ⋱ ⋮             ⋮           ⋮
109 Crocodilia    Crocodylidae ⋯ NA            NA          NA
110 Artiodactyla  Cervidae     ⋯ NA            NA          NA
    i.CH4_L.d_sd i.CH4_L.kgBM_mean i.CH4_L.kgBM_sd i.CH4_g.d_mean i.CH4_g.d_sd
1   NA           NA                NA              NA             NA
2   NA           NA                NA              NA             NA
⋮   ⋮            ⋮                 ⋮               ⋮              ⋮
109 NA           NA                NA              NA             NA
110 NA           NA                NA              NA             NA
    i.CH4_kJ.d_mean i.CH4_kJ.d_sd
1   NA              NA
2   NA              NA
⋮   ⋮               ⋮
109 NA              NA
110 NA              NA

### Diet

In [96]:
# simple diet
x = meta %>%
    dt_select(scientific_name, diet) %>%
    as.data.frame
rownames(x) = x$scientific_name
x$scientific_name = NULL

# legend
y = meta %>% dt_pull(diet) %>% unique
print(y)
cols = c('#FFCC33', '#00CC00', '#FF0000')
legend = data.frame(labels = y,
                    colors = cols,
                    shapes = rep(1, length(labels)))

# creating the itol input file
F = file.path(work_dir, 'SpecD_diet_clrstrp.txt')
itol_colorstrip(x, 'diet', F, legend=legend)

[1] "omnivore"  "herbivore" "carnivore"
File written: /ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/dataset_explore//SpecD_diet_clrstrp.txt

### Diet: detailed

In [52]:
meta %>% 
    dt_distinct(scientific_name, diet_vertebrate, diet_invertebrate, 
                  diet_fruit, diet_flowers_nectar_pollen, diet_leaves_branches_bark_buds, 
                  diet_seeds, diet_grass_waterplants, diet_roots_tubers) %>%
 summary

 scientific_name    diet_vertebrate    diet_invertebrate   diet_fruit
 Length:110         Length:110         Length:110         Length:110
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character
 diet_flowers_nectar_pollen diet_leaves_branches_bark_buds  diet_seeds
 Length:110                 Length:110                     Length:110
 Class :character           Class :character               Class :character
 Mode  :character           Mode  :character               Mode  :character
 diet_grass_waterplants diet_roots_tubers
 Length:110             Length:110
 Class :character       Class :character
 Mode  :character       Mode  :character

In [53]:
# selecting diet-detailed
## for differning diets, taking the average
x = meta %>%
    dt_distinct(scientific_name, diet_vertebrate, diet_invertebrate, 
             diet_fruit, diet_flowers_nectar_pollen, diet_leaves_branches_bark_buds, 
             diet_seeds, diet_grass_waterplants, diet_roots_tubers) %>%
    dt_pivot_longer(cols = c(-scientific_name), names_to='diet_category', values_to='diet_value') %>%
    dt_mutate(diet_value = gsub(' .+', '', diet_value),
              diet_value_binary = ifelse(diet_value == 'yes', 1, 0),
              diet_category = gsub('diet_', '', diet_category)) %>%
    dt_summarize(diet_value_mean = mean(diet_value_binary),
                 by=c(scientific_name, diet_category)) %>%
    dt_pivot_wider(names_from=diet_category, values_from=diet_value_mean) %>%
    as.data.frame
rownames(x) = x$scientific_name
x$scientific_name = NULL   
x

                    flowers_nectar_pollen fruit grass_waterplants invertebrate
Abramis_brama       0                     0     1                 1
Aepyceros_melampus  1                     0     1                 0
⋮                   ⋮                     ⋮     ⋮                 ⋮
Vulpes_vulpes       0                     1     0                 1
Zamenis_longissimus 0                     0     0                 0
                    leaves_branches_bark_buds roots_tubers seeds vertebrate
Abramis_brama       0                         0            0     0
Aepyceros_melampus  1                         0            1     0
⋮                   ⋮                         ⋮            ⋮     ⋮
Vulpes_vulpes       0                         0            0     1
Zamenis_longissimus 0                         0            0     1

In [54]:
# creating the itol input file
F = file.path(work_dir, 'SpecD_diet-detailed_htmp.txt')
itol_heatmap(x, 'diet_detailed', F, dist_method='bray')

Warning message in if (color_scheme == "color") {:
“the condition has length > 1 and only the first element will be used”

File written: /ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/dataset_explore//SpecD_diet-detailed_htmp.txt

### Habitat

In [55]:
# setting colors
x = meta %>% dt_pull(habitat) %>% unique %>% gsub(' habitat', '', .) %>% sort
#cols = c('#FF9900', '#00CCFF', '#999600', '#663300')
cols = c('#FF9900', '#00CCFF', '#663300')
legend = data.frame(labels = x,
                    colors = cols,
                    shapes = rep(1, length(labels)))
legend

  labels        colors  shapes
1 anthropogenic #FF9900 1
2 aquatic       #00CCFF 1
3 terrestrial   #663300 1

In [56]:
# summarizing
x = meta %>%
    dt_mutate(n_samples_per_sp = length(SampleID), 
              by=c(scientific_name)) %>%
    dt_summarize(n_samples = length(SampleID),
                 by=c(scientific_name, habitat, n_samples_per_sp)) %>%
    dt_summarize(perc_samples = n_samples / first(n_samples_per_sp) * 100,
                 by=c(scientific_name, habitat)) %>%
    dt_select(scientific_name, habitat, perc_samples) %>%
    dt_mutate(habitat = gsub(' ', '_', habitat)) %>%
    dt_pivot_wider(names_from=habitat, values_from=perc_samples) %>%
    dt_mutate_across(is.numeric, function(x) ifelse(is.na(x), 0, x))
                     
rownames(x) = x$scientific_name
x$scientific_name = NULL
x

    anthropogenic_habitat aquatic_habitat terrestrial_habitat
1   0                     100               0
2   0                       0             100
⋮   ⋮                     ⋮               ⋮
109 0                     0               100
110 0                     0               100

In [57]:
# writing output
F = file.path(work_dir, 'SpecD_habitat_multibar.txt')
itol_multibar(x, 'habitat', F, legend=legend, WIDTH=50)

File written: /ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/dataset_explore//SpecD_habitat_multibar.txt

In [58]:
# as a colorstrip
x = meta %>%
    dt_select(scientific_name, habitat) %>%
    dt_mutate(habitat = gsub(' .+', '', habitat))
rownames(x) = x$scientific_name
x$scientific_name = NULL
x

    habitat
1   aquatic
2   terrestrial
⋮   ⋮
109 terrestrial
110 terrestrial

In [59]:
# writing output
F = file.path(work_dir, 'SpecD_habitat_clrstrp.txt')
itol_colorstrip(x, 'habitat', F, legend=legend)

File written: /ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/dataset_explore//SpecD_habitat_clrstrp.txt

### wild/captive

In [60]:
# setting colors
x = meta %>% dt_pull(captive_wild) %>% unique %>% sort
cols = c('#FF9900', '#009900')
legend = data.frame(labels = x,
                    colors = cols,
                    shapes = rep(1, length(labels)))
legend

  labels  colors  shapes
1 captive #FF9900 1
2 wild    #009900 1

In [61]:
# summarizing
x = meta %>%
    dt_mutate(n_samples_per_sp = length(SampleID), 
              by=c(scientific_name)) %>%
    dt_summarize(n_samples = length(SampleID),
                 by=c(scientific_name, captive_wild, n_samples_per_sp)) %>%
    dt_summarize(perc_samples = n_samples / first(n_samples_per_sp) * 100,
                 by=c(scientific_name, captive_wild)) %>%
    dt_select(scientific_name, captive_wild, perc_samples) %>%
    dt_mutate(captive_wild = gsub(' ', '_', captive_wild)) %>%
    dt_pivot_wider(names_from=captive_wild, values_from=perc_samples) %>%
    dt_mutate_across(is.numeric, function(x) ifelse(is.na(x), 0, x))
                     
rownames(x) = x$scientific_name
x$scientific_name = NULL
x

    captive wild
1   0       100
2   0       100
⋮   ⋮       ⋮
109 0       100
110 0       100

In [62]:
# writing output
F = file.path(work_dir, 'SpecD_wild-capt_multibar.txt')
itol_multibar(x, 'wild_captive', F, legend=legend, WIDTH=50)

File written: /ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/dataset_explore//SpecD_wild-capt_multibar.txt

In [63]:
# as a colorstrip
x = meta %>%
    dt_select(scientific_name, captive_wild)                  
rownames(x) = x$scientific_name
x$scientific_name = NULL
x

    captive_wild
1   wild
2   wild
⋮   ⋮
109 wild
110 wild

In [64]:
# writing output
F = file.path(work_dir, 'SpecD_wild-capt_clrstrp.txt')
itol_colorstrip(x, 'wild_captive', F, legend=legend)

File written: /ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/dataset_explore//SpecD_wild-capt_clrstrp.txt

### sample type

In [65]:
# setting colors
x = meta %>% dt_pull(sample_type) %>% unique %>% sort
cols = c('#663300', '#CC9900')
legend = data.frame(labels = x,
                    colors = cols,
                    shapes = rep(1, length(labels)))
legend

  labels colors  shapes
1 feces  #663300 1
2 gut    #CC9900 1

In [66]:
# summarizing
x = meta %>%
    dt_mutate(n_samples_per_sp = length(SampleID), 
              by=c(scientific_name)) %>%
    dt_summarize(n_samples = length(SampleID),
                 by=c(scientific_name, sample_type, n_samples_per_sp)) %>%
    dt_summarize(perc_samples = n_samples / first(n_samples_per_sp) * 100,
                 by=c(scientific_name, sample_type)) %>%
    dt_select(scientific_name, sample_type, perc_samples) %>%
    dt_mutate(sample_type = gsub(' ', '_', sample_type)) %>%
    dt_pivot_wider(names_from=sample_type, values_from=perc_samples) %>%
    dt_mutate_across(is.numeric, function(x) ifelse(is.na(x), 0, x))
                     
rownames(x) = x$scientific_name
x$scientific_name = NULL
x

    feces gut
1   100   0
2   100   0
⋮   ⋮     ⋮
109 100   0
110 100   0

In [67]:
# writing output
F = file.path(work_dir, 'SpecD_sample-type_multibar.txt')
itol_multibar(x, 'sample_type', F, legend=legend, WIDTH=50)

File written: /ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/dataset_explore//SpecD_sample-type_multibar.txt

In [68]:
# as a colorstrip
x = meta %>%
    dt_select(scientific_name, sample_type)                  
rownames(x) = x$scientific_name
x$scientific_name = NULL
x

    sample_type
1   feces
2   feces
⋮   ⋮
109 feces
110 feces

In [69]:
# writing output
F = file.path(work_dir, 'SpecD_sample-type_clrstrp.txt')
itol_colorstrip(x, 'sample_type', F, legend=legend)

File written: /ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/dataset_explore//SpecD_sample-type_clrstrp.txt

### digestive system

In [70]:
# summarizing
x = meta %>%
    dt_select(scientific_name, digestive_system) %>%
    dt_mutate(digestive_system =  ifelse(digestive_system == 'fermentation activity foregut',
                                         'foregut', digestive_system))
                     
rownames(x) = x$scientific_name
x$scientific_name = NULL
x$digestive_system %>% table
x

.
       foregut        hindgut         simple simple foregut simple hindgut
            27             12             56              1             14

    digestive_system
1   simple
2   foregut
⋮   ⋮
109 simple
110 foregut

In [71]:
# creating the itol input file
F = file.path(work_dir, 'SpecD_dig-sys_clrstrp.txt')
itol_colorstrip(x, 'digestive_system', F)

File written: /ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/dataset_explore//SpecD_dig-sys_clrstrp.txt

### Ruminant

In [72]:
# summarizing
x = meta %>%
    dt_select(scientific_name, ruminant, pseudoruminants) %>%
    dt_mutate(ruminant = dt_case(ruminant == 'yes', 'ruminant',
                                 pseudoruminants == 'yes', 'pseudoruminants',
                                 default='neither')) %>%
    dt_select(-pseudoruminants)
                     
rownames(x) = x$scientific_name
x$scientific_name = NULL
x

    ruminant
1   neither
2   ruminant
⋮   ⋮
109 neither
110 ruminant

In [73]:
# creating the itol input file
F = file.path(work_dir, 'SpecD_ruminant_clrstrp.txt')
itol_colorstrip(x, 'ruminant', F)

File written: /ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/dataset_explore//SpecD_ruminant_clrstrp.txt

### temp regulation

In [74]:
x = meta %>%
    dt_select(scientific_name, temp_regulation) %>%
    dt_mutate(temp_regulation = gsub('/.+', '', temp_regulation))

rownames(x) = x$scientific_name
x$scientific_name = NULL
x

    temp_regulation
1   ectotherm
2   endotherm
⋮   ⋮
109 ectotherm
110 endotherm

In [75]:
# creating the itol input file
F = file.path(work_dir, 'SpecD_temp-reg_clrstrp.txt')
itol_colorstrip(x, 'temp_regulation', F)

File written: /ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/dataset_explore//SpecD_temp-reg_clrstrp.txt

## Taxon abundances

In [76]:
otu = physeq_arch_IndD %>%
    phyloseq2df(otu_table, long=TRUE) %>%
    as.data.table

tax = physeq_arch_IndD %>%
    phyloseq2df(tax_table) %>%
    as.data.table

metadata = physeq_arch_IndD %>%
    phyloseq2df(sample_data) %>%
    as.data.table

otu = otu %>%
    dt_inner_join(tax, c('OTU')) %>%
    dt_inner_join(metadata, c('Sample'))
otu

       OTU                              Sample           Count Domain
1      0e97060fe4b9be17bddeedcd27826b04 F14_Common_Bream 0     Archaea
2      a86c26bd7f16d93e38b101dbd2614a07 F14_Common_Bream 0     Archaea
⋮      ⋮                                ⋮                ⋮     ⋮
349834 9449f372c36cd2d8994d79b091425d42 X67_European_Roe 0     Archaea
349835 467eeae6997d3667b5d07a76bc1bcdfd X67_European_Roe 0     Archaea
       Phylum        Class           Order              Family
1      Euryarchaeota Methanobacteria Methanobacteriales Methanobacteriaceae
2      Euryarchaeota Methanobacteria Methanobacteriales Methanobacteriaceae
⋮      ⋮             ⋮               ⋮                  ⋮
349834 Euryarchaeota Methanobacteria Methanobacteriales Methanobacteriaceae
349835 Euryarchaeota Methanobacteria Methanobacteriales Methanobacteriaceae
       Genus              Species      ⋯ CH4_kJ.d_mean CH4_kJ.d_sd
1      Methanobrevibacter unclassified ⋯ NA            NA
2      Methanobrevibacter unclassified ⋯ NA            NA
⋮      ⋮                  ⋮            ⋱ ⋮             ⋮
349834 Methanobrevibacter unclassified ⋯ NA            NA
349835 Methanobrevibacter unclassified ⋯ NA            NA
       i.CH4_L.d_mean i.CH4_L.d_sd i.CH4_L.kgBM_mean i.CH4_L.kgBM_sd
1      NA             NA           NA                NA
2      NA             NA           NA                NA
⋮      ⋮              ⋮            ⋮                 ⋮
349834 NA             NA           NA                NA
349835 NA             NA           NA                NA
       i.CH4_g.d_mean i.CH4_g.d_sd i.CH4_kJ.d_mean i.CH4_kJ.d_sd
1      NA             NA           NA              NA
2      NA             NA           NA              NA
⋮      ⋮              ⋮            ⋮               ⋮
349834 NA             NA           NA              NA
349835 NA             NA           NA              NA

In [77]:
# total counts per sample
otu %>%
    dt_summarize(total_count = sum(Count), by=c(Sample)) %>%
    dt_pull(total_count) %>% summary_x('total_count')

            Min. 1st Qu. Median Mean    3rd Qu. Max.  sd       sd_err_of_mean
total_count 251  732     1567   2360.93 2973    32294 12580.34 5135.903

In [78]:
# perc abundance
otu = otu %>%
    dt_mutate(total_count = sum(Count), by=c(Sample)) %>%
    dt_mutate(perc_abund = Count / total_count * 100) 

otu %>% dt_pull(perc_abund) %>% summary_x

  Min. 1st Qu. Median Mean       3rd Qu. Max.     sd     sd_err_of_mean
. 0    0       0      0.05288207 0       94.38129 38.527 15.728

### Phylum

In [79]:
# using mean perc abund
otu_s = otu %>%
    dt_summarize(perc_abund = sum(perc_abund),
                 by=c(Sample, Phylum, scientific_name)) %>%
    dt_summarize(perc_abund = mean(perc_abund),
                 by=c(scientific_name, Phylum))
otu_s

    scientific_name     Phylum          perc_abund
1   Abramis_brama       Euryarchaeota   99.53717096
2   Abramis_brama       Nanoarchaeaeota  0.05785363
⋮   ⋮                   ⋮               ⋮
659 Capreolus_capreolus Asgardaeota     0
660 Capreolus_capreolus Crenarchaeota   0

In [80]:
# total % abund per host species
otu_s %>%
    dt_summarize(perc_abund_sum = sum(perc_abund),
                 by=c(scientific_name)) %>%
    dt_pull(perc_abund_sum) %>% summary_x('mean % abund')

             Min. 1st Qu. Median Mean 3rd Qu. Max. sd sd_err_of_mean
mean % abund 100  100     100    100  100     100  0  0

In [81]:
# ordering by overall abundance
x = otu_s %>%
    dt_summarize(mean_abund = mean(perc_abund), by=c(Phylum)) %>%
    arrange(-mean_abund)
df.dims(10)
x
df.dims()

  Phylum          mean_abund
1 Euryarchaeota   92.040861732
2 Thaumarchaeota   7.578280929
3 Crenarchaeota    0.308551113
4 Nanoarchaeaeota  0.065823145
5 Asgardaeota      0.004871217
6 Diapherotrites   0.001611863

In [82]:
# sorting
phy_by_abund = x$Phylum
phy_by_abund = c('scientific_name', phy_by_abund)
phy_by_abund

[1] "scientific_name" "Euryarchaeota"   "Thaumarchaeota"  "Crenarchaeota"
[5] "Nanoarchaeaeota" "Asgardaeota"     "Diapherotrites"

In [83]:
# creating multi-bar 
x = otu_s %>%
    dt_pivot_wider(names_from=Phylum, values_from=perc_abund) %>%
    dt_select({{phy_by_abund}}) %>%
    as.data.frame 
rownames(x) = x$scientific_name
x$scientific_name = NULL
x

                    Euryarchaeota Thaumarchaeota Crenarchaeota Nanoarchaeaeota
Abramis_brama       99.53717      0.00000000     0.4049754     0.05785363
Aepyceros_melampus  99.93956      0.06044003     0.0000000     0.00000000
⋮                   ⋮             ⋮              ⋮             ⋮
Vulpes_vulpes       100.00000      0.00000       0             0
Zamenis_longissimus  28.18471     71.81529       0             0
                    Asgardaeota Diapherotrites
Abramis_brama       0           0
Aepyceros_melampus  0           0
⋮                   ⋮           ⋮
Vulpes_vulpes       0           0
Zamenis_longissimus 0           0

In [84]:
# writing itol input file
F = file.path(work_dir, 'SpecD_phylum-abund_multibar.txt')
itol_multibar(x, 'Phylum_perc_abund', F)

File written: /ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/dataset_explore//SpecD_phylum-abund_multibar.txt

### Class

In [85]:
# using mean perc abund
otu_s = otu %>%
    dt_mutate(Taxonomy = paste(Phylum, Class, sep=';')) %>%
    dt_summarize(perc_abund = sum(perc_abund),
                 by=c(Sample, Taxonomy, scientific_name)) %>%
    dt_summarize(perc_abund = mean(perc_abund),
                 by=c(scientific_name, Taxonomy))
otu_s

     scientific_name     Taxonomy                      perc_abund
1    Abramis_brama       Euryarchaeota;Methanobacteria 75.58577
2    Abramis_brama       Euryarchaeota;Thermococci      0.00000
⋮    ⋮                   ⋮                             ⋮
1209 Capreolus_capreolus Crenarchaeota;Bathyarchaeia   0
1210 Capreolus_capreolus Euryarchaeota;unclassified    0

In [86]:
# total % abund per host species
otu_s %>%
    dt_summarize(perc_abund_sum = sum(perc_abund),
                 by=c(scientific_name)) %>%
    dt_pull(perc_abund_sum) %>% summary_x('mean % abund')

             Min. 1st Qu. Median Mean 3rd Qu. Max. sd sd_err_of_mean
mean % abund 100  100     100    100  100     100  0  0

In [87]:
# summarizing
otu_s %>% unique_n('Classes', Taxonomy)
otu_s %>% dt_pull(Taxonomy) %>% unique

No. of unique Classes: 11

 [1] "Euryarchaeota;Methanobacteria"  "Euryarchaeota;Thermococci"
 [3] "Nanoarchaeaeota;Woesearchaeia"  "Euryarchaeota;Halobacteria"
 [5] "Euryarchaeota;Methanomicrobia"  "Euryarchaeota;Thermoplasmata"
 [7] "Thaumarchaeota;Nitrososphaeria" "Diapherotrites;Iainarchaeia"
 [9] "Asgardaeota;Odinarchaeia"       "Crenarchaeota;Bathyarchaeia"
[11] "Euryarchaeota;unclassified"

In [88]:
# changing rare to "Other"
otu_s = otu_s %>%
    dt_mutate(mean_perc_abund = mean(perc_abund), by=c(Taxonomy)) %>%
    dt_mutate(Taxonomy = Taxonomy %>% as.character,
              Taxonomy = ifelse(mean_perc_abund < 0.1, 'Other', Taxonomy),
              Taxonomy = ifelse(grepl('unclassified', Taxonomy), 'Other', Taxonomy)) %>%
    dt_select(-mean_perc_abund)
otu_s

     scientific_name     Taxonomy                      perc_abund
1    Abramis_brama       Euryarchaeota;Methanobacteria 75.58577
2    Abramis_brama       Other                          0.00000
⋮    ⋮                   ⋮                             ⋮
1209 Capreolus_capreolus Crenarchaeota;Bathyarchaeia   0
1210 Capreolus_capreolus Other                         0

In [89]:
# summarizing
otu_s %>% unique_n('Classes', Taxonomy)
otu_s %>% dt_pull(Taxonomy) %>% unique

No. of unique Classes: 7

[1] "Euryarchaeota;Methanobacteria"  "Other"
[3] "Euryarchaeota;Halobacteria"     "Euryarchaeota;Methanomicrobia"
[5] "Euryarchaeota;Thermoplasmata"   "Thaumarchaeota;Nitrososphaeria"
[7] "Crenarchaeota;Bathyarchaeia"

In [90]:
# ordering by overall abundance
x = otu_s %>%
    dt_summarize(mean_abund = mean(perc_abund), by=c(Taxonomy)) %>%
    arrange(-mean_abund)
df.dims(10)
x
df.dims()

  Taxonomy                       mean_abund
1 Euryarchaeota;Methanobacteria  74.27533491
2 Euryarchaeota;Methanomicrobia   9.08812368
3 Euryarchaeota;Thermoplasmata    7.58505171
4 Thaumarchaeota;Nitrososphaeria  7.57828093
5 Euryarchaeota;Halobacteria      0.95295243
6 Crenarchaeota;Bathyarchaeia     0.30855111
7 Other                           0.04234105

In [91]:
# sorting
phy_by_abund = x$Taxonomy
phy_by_abund = c('scientific_name', phy_by_abund)
phy_by_abund

[1] "scientific_name"                "Euryarchaeota;Methanobacteria"
[3] "Euryarchaeota;Methanomicrobia"  "Euryarchaeota;Thermoplasmata"
[5] "Thaumarchaeota;Nitrososphaeria" "Euryarchaeota;Halobacteria"
[7] "Crenarchaeota;Bathyarchaeia"    "Other"

In [92]:
# creating multi-bar 
x = otu_s %>%
    dt_pivot_wider(names_from=Taxonomy, values_from=perc_abund, values_fn=sum) %>%
    dt_select({{phy_by_abund}}) %>%
    as.data.frame 
rownames(x) = x$scientific_name
x$scientific_name = NULL
x

                    Euryarchaeota;Methanobacteria Euryarchaeota;Methanomicrobia
Abramis_brama       75.58577                      23.488574
Aepyceros_melampus  98.21954                       1.720019
⋮                   ⋮                             ⋮
Vulpes_vulpes       99.49109                      0.5089059
Zamenis_longissimus 27.54777                      0.6369427
                    Euryarchaeota;Thermoplasmata Thaumarchaeota;Nitrososphaeria
Abramis_brama       0.462829                     0.00000000
Aepyceros_melampus  0.000000                     0.06044003
⋮                   ⋮                            ⋮
Vulpes_vulpes       0                             0.00000
Zamenis_longissimus 0                            71.81529
                    Euryarchaeota;Halobacteria Crenarchaeota;Bathyarchaeia
Abramis_brama       0                          0.4049754
Aepyceros_melampus  0                          0.0000000
⋮                   ⋮                          ⋮
Vulpes_vulpes       0                          0
Zamenis_longissimus 0                          0
                    Other
Abramis_brama       0.05785363
Aepyceros_melampus  0.00000000
⋮                   ⋮
Vulpes_vulpes       0
Zamenis_longissimus 0

In [93]:
# checking abundances
x %>% apply(1, sum) %>% summary

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
    100     100     100     100     100     100

In [94]:
# writing itol input file
F = file.path(work_dir, 'SpecD_class-abund_multibar.txt')
itol_multibar(x, 'Class_perc_abund', F)

File written: /ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/dataset_explore//SpecD_class-abund_multibar.txt

### Methanogens

In [95]:
# using mean perc abund
otu_s = otu %>%
    dt_mutate(Taxonomy = paste(Phylum, Class, Order, Family, Genus, sep='-')) %>%
    dt_summarize(perc_abund = sum(perc_abund),
                 by=c(Sample, Taxonomy, scientific_name)) %>%
    dt_summarize(perc_abund = mean(perc_abund),
                 by=c(scientific_name, Taxonomy))
otu_s

     scientific_name
1    Abramis_brama
2    Abramis_brama
⋮    ⋮
9899 Capreolus_capreolus
9900 Capreolus_capreolus
     Taxonomy
1    Euryarchaeota-Methanobacteria-Methanobacteriales-Methanobacteriaceae-Methanobrevibacter
2    Euryarchaeota-Methanobacteria-Methanobacteriales-Methanobacteriaceae-unclassified
⋮    ⋮
9899 Euryarchaeota-unclassified-unclassified-unclassified-unclassified
9900 Euryarchaeota-Thermoplasmata-Methanomassiliicoccales-Methanomethylophilaceae-Candidatus Methanoplasma
     perc_abund
1    0.4049754
2    0.0000000
⋮    ⋮
9899 0
9900 0

In [96]:
# changing rare & non-methanogens to "Other"
otu_s = otu_s %>%
    dt_mutate(mean_perc_abund = mean(perc_abund), by=c(Taxonomy)) %>%
    dt_mutate(Taxonomy = Taxonomy %>% as.character,
              Taxonomy = ifelse(!grepl('Methano', Taxonomy), 'non-methanogen', Taxonomy),
              Taxonomy = ifelse(mean_perc_abund < 1, 'Other methanogen', Taxonomy),
              Taxonomy = ifelse(grepl('unclassified|uncultured', Taxonomy), 'Other methanogen', Taxonomy)) %>%
    dt_select(-mean_perc_abund) %>%
    dt_mutate(Taxonomy = gsub('^Euryarchaeota-', '', Taxonomy))
otu_s

     scientific_name
1    Abramis_brama
2    Abramis_brama
⋮    ⋮
9899 Capreolus_capreolus
9900 Capreolus_capreolus
     Taxonomy
1    Methanobacteria-Methanobacteriales-Methanobacteriaceae-Methanobrevibacter
2    Other methanogen
⋮    ⋮
9899 Other methanogen
9900 Other methanogen
     perc_abund
1    0.4049754
2    0.0000000
⋮    ⋮
9899 0
9900 0

In [97]:
# summarizing
otu_s %>% unique_n('Classes', Taxonomy)
otu_s %>% dt_pull(Taxonomy) %>% unique

No. of unique Classes: 8

[1] "Methanobacteria-Methanobacteriales-Methanobacteriaceae-Methanobrevibacter"
[2] "Other methanogen"
[3] "Methanobacteria-Methanobacteriales-Methanobacteriaceae-Methanosphaera"
[4] "Methanobacteria-Methanobacteriales-Methanobacteriaceae-Methanobacterium"
[5] "Methanobacteria-Methanobacteriales-Methanothermobacteraceae-Methanothermobacter"
[6] "Methanomicrobia-Methanomicrobiales-Methanocorpusculaceae-Methanocorpusculum"
[7] "Thermoplasmata-Methanomassiliicoccales-Methanomethylophilaceae-Candidatus Methanomethylophilus"
[8] "non-methanogen"

In [98]:
# ordering by overall abundance
x = otu_s %>%
    dt_summarize(mean_abund = mean(perc_abund), by=c(Taxonomy)) %>%
    arrange(-mean_abund)
df.dims(10)
x
df.dims()

  Taxonomy
1 Methanobacteria-Methanobacteriales-Methanobacteriaceae-Methanobrevibacter
2 Methanobacteria-Methanobacteriales-Methanothermobacteraceae-Methanothermobacter
3 Methanomicrobia-Methanomicrobiales-Methanocorpusculaceae-Methanocorpusculum
4 Methanobacteria-Methanobacteriales-Methanobacteriaceae-Methanosphaera
5 non-methanogen
6 Methanobacteria-Methanobacteriales-Methanobacteriaceae-Methanobacterium
7 Thermoplasmata-Methanomassiliicoccales-Methanomethylophilaceae-Candidatus Methanomethylophilus
8 Other methanogen
  mean_abund
1 36.2255767
2 30.4956073
3  6.8649619
4  5.7640196
5  2.3800661
6  1.4025730
7  1.1600391
8  0.1625255

In [99]:
# sorting
phy_by_abund = x$Taxonomy
phy_by_abund = c('scientific_name', phy_by_abund)
phy_by_abund

[1] "scientific_name"
[2] "Methanobacteria-Methanobacteriales-Methanobacteriaceae-Methanobrevibacter"
[3] "Methanobacteria-Methanobacteriales-Methanothermobacteraceae-Methanothermobacter"
[4] "Methanomicrobia-Methanomicrobiales-Methanocorpusculaceae-Methanocorpusculum"
[5] "Methanobacteria-Methanobacteriales-Methanobacteriaceae-Methanosphaera"
[6] "non-methanogen"
[7] "Methanobacteria-Methanobacteriales-Methanobacteriaceae-Methanobacterium"
[8] "Thermoplasmata-Methanomassiliicoccales-Methanomethylophilaceae-Candidatus Methanomethylophilus"
[9] "Other methanogen"

In [100]:
# creating heatmap 
x = otu_s %>%
    dt_pivot_wider(names_from=Taxonomy, values_from=perc_abund, values_fn=sum) %>%
    dt_select({{phy_by_abund}}) %>%
    as.data.frame 
rownames(x) = x$scientific_name
x$scientific_name = NULL
x

                    Methanobacteria-Methanobacteriales-Methanobacteriaceae-Methanobrevibacter
Abramis_brama        0.4049754
Aepyceros_melampus  91.8258150
⋮                   ⋮
Vulpes_vulpes       4.580153
Zamenis_longissimus 2.547771
                    Methanobacteria-Methanobacteriales-Methanothermobacteraceae-Methanothermobacter
Abramis_brama       0.0000000
Aepyceros_melampus  0.4849545
⋮                   ⋮
Vulpes_vulpes       94.40204
Zamenis_longissimus 25.00000
                    Methanomicrobia-Methanomicrobiales-Methanocorpusculaceae-Methanocorpusculum
Abramis_brama       1.880243
Aepyceros_melampus  1.720019
⋮                   ⋮
Vulpes_vulpes       0.5089059
Zamenis_longissimus 0.0000000
                    Methanobacteria-Methanobacteriales-Methanobacteriaceae-Methanosphaera
Abramis_brama       0.000000
Aepyceros_melampus  5.908771
⋮                   ⋮
Vulpes_vulpes       0.5089059
Zamenis_longissimus 0.0000000
                    non-methanogen
Abramis_brama       0.00000000
Aepyceros_melampus  0.06044003
⋮                   ⋮
Vulpes_vulpes        0.00000
Zamenis_longissimus 68.15287
                    Methanobacteria-Methanobacteriales-Methanobacteriaceae-Methanobacterium
Abramis_brama       75.18079
Aepyceros_melampus   0.00000
⋮                   ⋮
Vulpes_vulpes       0
Zamenis_longissimus 0
                    Thermoplasmata-Methanomassiliicoccales-Methanomethylophilaceae-Candidatus Methanomethylophilus
Abramis_brama       0
Aepyceros_melampus  0
⋮                   ⋮
Vulpes_vulpes       0
Zamenis_longissimus 0
                    Other methanogen
Abramis_brama       22.53399
Aepyceros_melampus   0.00000
⋮                   ⋮
Vulpes_vulpes       0.000000
Zamenis_longissimus 4.299363

In [101]:
# writing itol input file
F = file.path(work_dir, 'SpecD_meth-genus-abund_htmp.txt')
itol_heatmap(x, 'Meth_genus_perc_abund', F)

Warning message in if (color_scheme == "color") {:
“the condition has length > 1 and only the first element will be used”

File written: /ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/dataset_explore//SpecD_meth-genus-abund_htmp.txt

### Alpha diversity

In [102]:
# IndD metadata
metadata = physeq_arch_IndD %>%
    phyloseq2df(sample_data) %>%
    dt_select(SampleID, scientific_name, class, order, family, genus)
metadata

    SampleID         scientific_name     class          order
1   F14_Common_Bream Abramis_brama       Actinopterygii Cypriniformes
2   F35_Red_Deer     Cervus_elaphus      Mammalia       Artiodactyla
⋮   ⋮                ⋮                   ⋮              ⋮
184 X431_Quagga      Equus_quagga        Mammalia       Perissodactyla
185 X67_European_Roe Capreolus_capreolus Mammalia       Artiodactyla
    family     genus
1   Cyprinidae Abramis
2   Cervidae   Cervus
⋮   ⋮          ⋮
184 Equidae    Equus
185 Cervidae   Capreolus

#### Shannon

In [103]:
# summarize per species
x = alpha_div %>%
    dt_select(SampleID, shannon) %>%
    dt_inner_join(metadata, c('SampleID')) %>%
    dt_summarize(minimum = min(shannon),
                 q1 = quantile(shannon, 0.25),
                 median = median(shannon),
                 q3 = quantile(shannon, 0.75),
                 maximum = max(shannon),
                 by=c(scientific_name)) %>%
    as.data.frame
rownames(x) = x$scientific_name
x$scientific_name = NULL
x

                     minimum  q1       median   q3       maximum
Abramis_brama        3.154330 3.154330 3.154330 3.154330 3.154330
Cervus_elaphus       2.327413 3.710466 3.991075 4.187366 4.524224
⋮                    ⋮        ⋮        ⋮        ⋮        ⋮
Crocodylus_niloticus 4.045976 4.045976 4.045976 4.045976 4.045976
Capreolus_capreolus  1.847817 1.847817 1.847817 1.847817 1.847817

In [104]:
# writing itol input file
F = file.path(work_dir, 'SpecD_shannon_boxplot.txt')
itol_boxplot(x, 'shannon_index', F)

File written: /ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/dataset_explore//SpecD_shannon_boxplot.txt

#### Faiths PD

In [105]:
# summarize per species
x = alpha_div %>%
    dt_select(SampleID, faith_pd) %>%
    dt_inner_join(metadata, c('SampleID')) %>%
    dt_summarize(minimum = min(faith_pd),
                 q1 = quantile(faith_pd, 0.25),
                 median = median(faith_pd),
                 q3 = quantile(faith_pd, 0.75),
                 maximum = max(faith_pd),
                 by=c(scientific_name)) %>%
    as.data.frame
rownames(x) = x$scientific_name
x$scientific_name = NULL
x

                     minimum  q1       median   q3       maximum
Abramis_brama        3.862071 3.862071 3.862071 3.862071 3.862071
Cervus_elaphus       1.254370 2.584689 3.095995 3.477889 4.396595
⋮                    ⋮        ⋮        ⋮        ⋮        ⋮
Crocodylus_niloticus 4.438056 4.438056 4.438056 4.438056 4.438056
Capreolus_capreolus  2.200689 2.200689 2.200689 2.200689 2.200689

In [106]:
# writing itol input file
F = file.path(work_dir, 'SpecD_faithPD_boxplot.txt')
itol_boxplot(x, 'faithPD', F)

File written: /ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/dataset_explore//SpecD_faithPD_boxplot.txt

## Seq general

### Counts per sample

In [107]:
otu = physeq_arch_IndD %>%
    phyloseq2df(otu_table, long=TRUE) %>%
    as.data.table

tax = physeq_arch_IndD %>%
    phyloseq2df(tax_table) %>%
    as.data.table

metadata = physeq_arch_IndD %>%
    phyloseq2df(sample_data) %>%
    as.data.table

otu = otu %>%
    dt_inner_join(tax, c('OTU')) %>%
    dt_inner_join(metadata, c('Sample'))
otu

       OTU                              Sample           Count Domain
1      0e97060fe4b9be17bddeedcd27826b04 F14_Common_Bream 0     Archaea
2      a86c26bd7f16d93e38b101dbd2614a07 F14_Common_Bream 0     Archaea
⋮      ⋮                                ⋮                ⋮     ⋮
349834 9449f372c36cd2d8994d79b091425d42 X67_European_Roe 0     Archaea
349835 467eeae6997d3667b5d07a76bc1bcdfd X67_European_Roe 0     Archaea
       Phylum        Class           Order              Family
1      Euryarchaeota Methanobacteria Methanobacteriales Methanobacteriaceae
2      Euryarchaeota Methanobacteria Methanobacteriales Methanobacteriaceae
⋮      ⋮             ⋮               ⋮                  ⋮
349834 Euryarchaeota Methanobacteria Methanobacteriales Methanobacteriaceae
349835 Euryarchaeota Methanobacteria Methanobacteriales Methanobacteriaceae
       Genus              Species      ⋯ CH4_kJ.d_mean CH4_kJ.d_sd
1      Methanobrevibacter unclassified ⋯ NA            NA
2      Methanobrevibacter unclassified ⋯ NA            NA
⋮      ⋮                  ⋮            ⋱ ⋮             ⋮
349834 Methanobrevibacter unclassified ⋯ NA            NA
349835 Methanobrevibacter unclassified ⋯ NA            NA
       i.CH4_L.d_mean i.CH4_L.d_sd i.CH4_L.kgBM_mean i.CH4_L.kgBM_sd
1      NA             NA           NA                NA
2      NA             NA           NA                NA
⋮      ⋮              ⋮            ⋮                 ⋮
349834 NA             NA           NA                NA
349835 NA             NA           NA                NA
       i.CH4_g.d_mean i.CH4_g.d_sd i.CH4_kJ.d_mean i.CH4_kJ.d_sd
1      NA             NA           NA              NA
2      NA             NA           NA              NA
⋮      ⋮              ⋮            ⋮               ⋮
349834 NA             NA           NA              NA
349835 NA             NA           NA              NA

In [108]:
# summarize per species
x = otu %>%
    dt_summarize(Count = sum(Count),
                 by=c(Sample, scientific_name)) %>%
    dt_summarize(minimum = min(Count),
                 q1 = quantile(Count, 0.25),
                 median = median(Count),
                 q3 = quantile(Count, 0.75),
                 maximum = max(Count),
                 by=c(scientific_name)) %>%
    as.data.frame
rownames(x) = x$scientific_name
x$scientific_name = NULL
x

                     minimum q1     median q3   maximum
Abramis_brama        3457    3457.0 3457.0 3457 3457
Cervus_elaphus        645    1584.5 2241.5 3267 6865
⋮                    ⋮       ⋮      ⋮      ⋮    ⋮
Crocodylus_niloticus 485     485    485    485  485
Capreolus_capreolus  721     721    721    721  721

In [109]:
# writing itol input file
F = file.path(work_dir, 'SpecD_nSeqs_boxplot.txt')
itol_boxplot(x, 'num_seqs', F)

File written: /ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/dataset_explore//SpecD_nSeqs_boxplot.txt

### Number of samples

In [110]:
# summarize per species
x = otu %>%
    dt_summarize(n_samples = length(unique(Sample)),
                 by=c(scientific_name)) %>%
    as.data.frame
rownames(x) = x$scientific_name
x$scientific_name = NULL
x

                     n_samples
Abramis_brama         1
Cervus_elaphus       12
⋮                    ⋮
Crocodylus_niloticus 1
Capreolus_capreolus  1

In [111]:
# writing itol input file
F = file.path(work_dir, 'SpecD_nSamples_multibar.txt')
itol_multibar(x, 'num_samples', F)

File written: /ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/dataset_explore//SpecD_nSamples_multibar.txt

# sessionInfo

In [112]:
sessionInfo()

R version 3.6.2 (2019-12-12)
Platform: x86_64-conda_cos6-linux-gnu (64-bit)
Running under: Ubuntu 18.04.4 LTS

Matrix products: default
BLAS/LAPACK: /ebio/abt3_projects/Georg_animal_feces/envs/phyloseq-phy/lib/libopenblasp-r0.3.7.so

locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C
 [3] LC_TIME=en_US.UTF-8        LC_COLLATE=en_US.UTF-8
 [5] LC_MONETARY=en_US.UTF-8    LC_MESSAGES=en_US.UTF-8
 [7] LC_PAPER=en_US.UTF-8       LC_NAME=C
 [9] LC_ADDRESS=C               LC_TELEPHONE=C
[11] LC_MEASUREMENT=en_US.UTF-8 LC_IDENTIFICATION=C

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

other attached packages:
[1] LeyLabRMisc_0.1.5 tidytable_0.4.1   data.table_1.12.8 ape_5.3
[5] phyloseq_1.30.0   ggplot2_3.2.1     tidyr_1.0.0       dplyr_0.8.3

loaded via a namespace (and not attached):
 [1] Rcpp_1.0.3          lattice_0.20-38     Biostrings_2.54.0
 [4] assertthat_0.2.1    digest_0.6.23       foreach_1.4.7
 [7] IRdisplay_0.7.0     R6_2.4.1            plyr_1.8.5
[10] repr_1.0.2          stats4_3.6.2        evaluate_0.14
[13] pillar_1.4.3        zlibbioc_1.32.0     rlang_0.4.6
[16] lazyeval_0.2.2      uuid_0.1-2          vegan_2.5-6
[19] S4Vectors_0.24.0    Matrix_1.2-18       splines_3.6.2
[22] stringr_1.4.0       igraph_1.2.4.2      munsell_0.5.0
[25] xfun_0.12           compiler_3.6.2      pkgconfig_2.0.3
[28] BiocGenerics_0.32.0 base64enc_0.1-3     multtest_2.42.0
[31] mgcv_1.8-31         htmltools_0.4.0     biomformat_1.14.0
[34] tidyselect_1.1.0    tibble_2.1.3        IRanges_2.20.0
[37] codetools_0.2-16    fansi_0.4.1         permute_0.9-5
[40] crayon_1.3.4        withr_2.1.2         MASS_7.3-51.5
[43] grid_3.6.2          nlme_3.1-143        jsonlite_1.6
[46] gtable_0.3.0        lifecycle_0.1.0     magrittr_1.5
[49] scales_1.1.0        cli_2.0.1           stringi_1.4.5
[52] XVector_0.26.0      reshape2_1.4.3      ellipsis_0.3.0
[55] vctrs_0.3.0         IRkernel_1.1        Rhdf5lib_1.8.0
[58] iterators_1.0.12    tools_3.6.2         ade4_1.7-13
[61] Biobase_2.46.0      glue_1.3.1          purrr_0.3.3
[64] parallel_3.6.2      survival_3.1-8      colorspace_1.4-1
[67] rhdf5_2.30.0        cluster_2.1.0       pbdZMQ_0.3-3
[70] knitr_1.26