<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Goal" data-toc-modified-id="Goal-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Goal</a></span></li><li><span><a href="#Var" data-toc-modified-id="Var-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Var</a></span></li><li><span><a href="#Init" data-toc-modified-id="Init-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Init</a></span></li><li><span><a href="#Load" data-toc-modified-id="Load-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Load</a></span></li><li><span><a href="#Metadata" data-toc-modified-id="Metadata-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Metadata</a></span><ul class="toc-item"><li><span><a href="#IndD" data-toc-modified-id="IndD-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>IndD</a></span><ul class="toc-item"><li><span><a href="#Writing-table" data-toc-modified-id="Writing-table-5.1.1"><span class="toc-item-num">5.1.1&nbsp;&nbsp;</span>Writing table</a></span></li></ul></li></ul></li><li><span><a href="#Taxon-prevalence" data-toc-modified-id="Taxon-prevalence-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Taxon prevalence</a></span><ul class="toc-item"><li><span><a href="#Class-level" data-toc-modified-id="Class-level-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Class-level</a></span><ul class="toc-item"><li><span><a href="#Writing-table" data-toc-modified-id="Writing-table-6.1.1"><span class="toc-item-num">6.1.1&nbsp;&nbsp;</span>Writing table</a></span></li></ul></li><li><span><a href="#General-summary" data-toc-modified-id="General-summary-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>General summary</a></span></li></ul></li><li><span><a href="#sessionInfo" data-toc-modified-id="sessionInfo-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>sessionInfo</a></span></li></ul></div>

# Goal

* General summaries of the dataset

# Var

In [1]:
work_dir = '/ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/merged/'

# microbiome
## 16S-arch phyloseq object (one sample per species)
physeq_arch_SpecD_file = '/ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/merged/phyloseq/physeq_arch_SpecD.RDS'
## 16S-arch phyloseq object (one sample per individual)
physeq_arch_IndD_file = '/ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/merged/phyloseq/physeq_arch_IndD.RDS'

# host tree
host_tree_SpecD_file = '/ebio/abt3_projects/Georg_animal_feces/data/animal/phylogeny/TT/unified_metadata_complete_20190416_rn.nwk'
host_tree_IndD_file = '/ebio/abt3_projects/Georg_animal_feces/data/animal/phylogeny/TT/unified_metadata_complete_200429_16S-arch_IndD.nwk'

# params
threads = 8
my_seed = 8371

# Init

In [2]:
library(dplyr)
library(tidyr)
library(ggplot2)
library(phyloseq)
library(ape)
library(LeyLabRMisc)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [3]:
df.dims()
set.seed(1341)

# Load

In [4]:
# archaea
physeq_arch_SpecD = readRDS(physeq_arch_SpecD_file)
physeq_arch_SpecD

phyloseq-class experiment-level object
otu_table()   OTU Table:         [ 1151 taxa and 110 samples ]
sample_data() Sample Data:       [ 110 samples by 88 sample variables ]
tax_table()   Taxonomy Table:    [ 1151 taxa by 7 taxonomic ranks ]
phy_tree()    Phylogenetic Tree: [ 1151 tips and 1150 internal nodes ]

In [5]:
# archaea
physeq_arch_IndD = readRDS(physeq_arch_IndD_file)
physeq_arch_IndD

phyloseq-class experiment-level object
otu_table()   OTU Table:         [ 1891 taxa and 185 samples ]
sample_data() Sample Data:       [ 185 samples by 88 sample variables ]
tax_table()   Taxonomy Table:    [ 1891 taxa by 7 taxonomic ranks ]
phy_tree()    Phylogenetic Tree: [ 1891 tips and 1888 internal nodes ]

# Metadata

## IndD

* all samples

In [6]:
meta = physeq_arch_IndD %>%
    phyloseq2df(sample_data) %>%
    dplyr::select(SampleID, class, order, family, genus, scientific_name,
               diet, diet_detail, diet_vertebrate, diet_invertebrate, diet_fruit, 
               diet_flowers_nectar_pollen, diet_leaves_branches_bark_buds, diet_seeds,
               diet_grass_waterplants, diet_roots_tubers,
               captive_wild, sample_type,
               habitat, habitat_detail, habitat_detail_1, habitat_detail_2,
               country, region, latitude, longitude, collection_date) %>%
    rename('Sample' = SampleID) %>%
    mutate(scientific_name = gsub('_', ' ', scientific_name))
meta

    Sample           class          order          family     genus
1   F14_Common_Bream Actinopterygii Cypriniformes  Cyprinidae Abramis
2   F35_Red_Deer     Mammalia       Artiodactyla   Cervidae   Cervus
⋮   ⋮                ⋮              ⋮              ⋮          ⋮
184 X431_Quagga      Mammalia       Perissodactyla Equidae    Equus
185 X67_European_Roe Mammalia       Artiodactyla   Cervidae   Capreolus
    scientific_name     diet      diet_detail diet_vertebrate diet_invertebrate
1   Abramis brama       omnivore  NA          no              yes
2   Cervus elaphus      herbivore NA          no              no
⋮   ⋮                   ⋮         ⋮           ⋮               ⋮
184 Equus quagga        herbivore NA          no              no
185 Capreolus capreolus herbivore NA          no              no
    ⋯ sample_type habitat             habitat_detail      habitat_detail_1
1   ⋯ feces       aquatic habitat     freshwater habitat  freshwater habitat
2   ⋯ feces       terrestrial habitat grassland           meadow
⋮   ⋱ ⋮           ⋮                   ⋮                   ⋮
184 ⋯ feces       terrestrial habitat terrestrial habitat terrestrial habitat
185 ⋯ feces       terrestrial habitat woodland            forest
    habitat_detail_2    country region latitude longitude collection_date
1   freshwater habitat  Austria Vienna 48.20833 16.37306  8/10/10
2   flood meadow        Austria Vienna 48.20833 16.37306  9/29/10
⋮   ⋮                   ⋮       ⋮      ⋮        ⋮         ⋮
184 terrestrial habitat Austria Styria 47.22400 15.81200  12/15/13
185 forest              Austria Vienna 48.20833 16.37306  10/31/11

### Writing table

In [14]:
outfile = file.path(work_dir, 'IndD_metadata.tsv')
write_table(meta, outfile)

File written: /ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/merged//IndD_metadata.tsv

In [44]:
X = c(
'F14_Common_Bream',
'F35_Red_Deer',
'F36_Red_Deer',
'F44_Fallow_Deer',
'F45_Red_Deer',
'F46_Red_Deer',
'F47_Red_Deer',
'F48_Red_Deer',
'F53_Mouflon',
'F66_Wild_Boar',
'F68_Red_Deer',
'F69_Red_Deer',
'F70_Red_Deer',
'F80_Red_Deer',
'F90_Domestic_Dog',
'X101_Horse',
'X102_Kulan',
'X109_Red_Fox',
'X11_Onager',
'X111_West_European_Hedgehog',
'X116_Common_Kestrel',
'X117_Long_eared_Owl',
'X119_Ural_Owl',
'X121_Raccoon_Dog',
'X122_Wild_Boar',
'X123_Alpine_Chamois',
'X125_Common_Carp',
'X128_Alpine_Marmot',
'X129_Alpine_Ibex',
'X13_Wolf',
'X130_Alpine_Ibex',
'X131_Rock_Ptarmigan',
'X135_Horse',
'X137_Gaur',
'X138_Gaur',
'X139_Sambar',
'X140_Sambar',
'X141_Red_cheeked_Gibbon',
'X146_Cattle',
'X15_Tawny_Owl',
'X153_Bank_Vole',
'X154_Tree_Shrew',
'X157_Grey_Heron',
'X158_White_tailed_Eagle',
'X16_Fat_Dormouse',
'X164_Greylag_Goose',
'X170_Tawny_Owl',
'X172_European_Greenfinch',
'X174_Great_Tit',
'X179_Roach',
'X194_Agile_Frog',
'X195_Domestic_Cat',
'X203_Red_Deer',
'X206_Red_Sheep',
'X212_Goose',
'X213_Goose',
'X214_Goose',
'X215_Goose',
'X218_Goose',
'X219_Goose',
'X22_European_Rabbit',
'X221_Alpine_Ibex',
'X23_Garden_Dormouse',
'X230_Carrion_Crow',
'X233_Aesculapian_Snake',
'X234_Beech_Marten',
'X236_Pygmy_Slow_Loris',
'X237_Red_shanked_Douc_Langur',
'X238_Hanuman_Langur',
'X240_Southern_White_cheeked_Gibbon',
'X241_Italian_wall_lizard',
'X242_Dalmatian_Tortoise',
'X247_Common_Hamster',
'X252_Eurasian_Lynx',
'X259_Mute_Swan',
'X260_Blackbird',
'X265_Western_Marsh_Harrier',
'X266_Western_Marsh_Harrier',
'X268_Rook',
'X270_Common_Pheasant',
'X271_Common_Pheasant',
'X279_Western_Grey_Kangaroo',
'X280_Western_Grey_Kangaroo',
'X283_Koala',
'X285_Short_beaked_Echidna',
'X286_Short_beaked_Echidna',
'X287_Common_Brushtail',
'X288_Common_Brushtail',
'X289_Eastern_Grey_Kangaroo',
'X290_Eastern_Grey_Kangaroo',
'X292_Central_Bearded_Dragon',
'X305_European_Hare',
'X31_Chicken',
'X32_Greylag_Goose',
'X320_Red_Deer',
'X326_Silver_Bream',
'X327_Silver_Bream',
'X328_Prussian_Carp',
'X33_Wild_Turkey',
'X330_Ide',
'X333_Gray_Seal',
'X336_Sei_Whale',
'X338_White_beaked_Dolphin',
'X339_White_beaked_Dolphin',
'X34_Mallard_Duck',
'X340_Western_Lowland_Gorilla',
'X341_Western_Lowland_Gorilla',
'X344_Indian_Rhinoceros',
'X349_Smooth_Newt',
'X350_Smooth_Newt',
'X351_Grass_Snake',
'X352_Kinkajou',
'X353_Raccoon',
'X356_Northern_Tamandua',
'X360_White_tailed_Deer',
'X363_Desmarests_Spiny_Pocket_Mouse',
'X368_European_Ground_Squirrel',
'X369_Koala',
'X370_African_Bush_Elephant',
'X371_Linnaeus_Two_toed_Sloth',
'X372_Emu',
'X376_Kulan',
'X378_Fat_Sand_Rat',
'X380_Wild_Boar',
'X381_Wild_Boar',
'X382_Arctic_Wolf',
'X384_Eurasian_Lynx',
'X389_Indian_Rhinoceros',
'X390_European_Ground_Squirrel',
'X391_European_Ground_Squirrel',
'X394_Przewalski_horse',
'X395_Przewalski_horse',
'X396_Morelets_crocodile',
'X40_Bactrian_Camel',
'X404_Brown_Greater_Galago',
'X407_African_Bush_Elephant',
'X408_African_Bush_Elephant',
'X409_Impala',
'X41_Pika',
'X410_Impala',
'X411_Leopard',
'X414_Vervet_Monkey',
'X415_White_Rhinoceros',
'X416_White_Rhinoceros',
'X417_Giraffe',
'X418_Giraffe',
'X419_African_Buffalo',
'X42_Goitered_Gazelle',
'X420_Cattle',
'X421_Common_Hippopotamus',
'X422_Common_Hippopotamus',
'X423_Quagga',
'X424_Quagga',
'X426_Ural_Owl',
'X427_Great_Spotted_Woodpecker',
'X428_African_Bush_Elephant',
'X429_Giraffe',
'X43_European_Badger',
'X430_Giraffe',
'X432_Vervet_Monkey',
'X434_Blue_Wildebeest',
'X435_Bactrian_Camel',
'X60_European_Chub',
'X66_Mouflon',
'X7_European_Otter',
'X73_One_humped_Camel',
'X77_Onager',
'X85_Domestic_Dog',
'X88_European_Rabbit',
'X93_Red_Sheep',
'X94_Mangalica',
'X95_Meadow_Viper',
'X96_European_Hare',
'F157a_European_Toad',
'X127_Alpine_Marmot',
'X133_Domestic_Goat',
'X134_Domestic_Goat',
'X281_Tammar_Wallaby',
'X3_Alpine_Chamois',
'X357_Northern_Tamandua',
'X359_Brown_throated_Sloth',
'X403_Chacma_Baboon',
'X405_Nile_Crocodile',
'X431_Quagga',
'X67_European_Roe')

In [52]:
df = physeq_arch_IndD %>%
    phyloseq2df(sample_data) %>%
    dplyr::select(SampleID, biome, geo_feature, 
                  geo_feature_detail_1, geo_feature_detail_2, 
                  geo_feature_detail_3, geo_feature_detail_4) %>%
    as.data.frame
rownames(df) = df$SampleID
df = df[X,]
df

                 SampleID         biome
F14_Common_Bream F14_Common_Bream Small river biome
F35_Red_Deer     F35_Red_Deer     Temperate broadleaf and mixed forest biome
⋮                ⋮                ⋮
X431_Quagga      X431_Quagga      Temperate broadleaf and mixed forest biome
X67_European_Roe X67_European_Roe Temperate broadleaf and mixed forest biome
                 geo_feature       geo_feature_detail_1 geo_feature_detail_2
F14_Common_Bream water body        watercourse          backwater
F35_Red_Deer     plain             flood plain          flood plain
⋮                ⋮                 ⋮                    ⋮
X431_Quagga      zoological garden zoological garden    zoological garden
X67_European_Roe park              protected area       biosphere reserve
                 geo_feature_detail_3 geo_feature_detail_4
F14_Common_Bream backwater            backwater
F35_Red_Deer     flood plain          flood plain
⋮                ⋮                    ⋮
X431_Quagga      zoological garden    zoological garden
X67_European_Roe biosphere reserve    biosphere reserve

In [54]:
outF = file.path(work_dir, 'TMP.tsv')
df %>%
    write_table(outF)

File written: /ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/merged//TMP.tsv

# Taxon prevalence

## Class-level

In [25]:
otu = physeq_arch_IndD %>%
    transform_sample_counts(function(x) x / sum(x) * 100) %>%
    phyloseq2df(otu_table, long=TRUE) %>%
    inner_join(phyloseq2df(physeq_arch_IndD, tax_table),
               c('OTU')) %>%
    group_by(Sample, Phylum, Class) %>%
    summarize(Count = sum(Count), .groups='drop') %>%
    ungroup()
otu$Count %>% summary_x('% rel. abund.')
otu

              Min. 1st Qu. Median Mean     3rd Qu. Max. sd     sd_err_of_mean
% rel. abund. 0    0       0      9.090909 0       100  40.247 16.431

     Sample            Phylum          Class           Count
1    F14_Common_Bream  Asgardaeota     Odinarchaeia    0.0000000
2    F14_Common_Bream  Crenarchaeota   Bathyarchaeia   0.4049754
⋮    ⋮                 ⋮               ⋮               ⋮
2034 X96_European_Hare Nanoarchaeaeota Woesearchaeia   0
2035 X96_European_Hare Thaumarchaeota  Nitrososphaeria 0

In [26]:
otu$Class %>% unique_n
otu$Sample %>% unique_n

No. of unique items: 11
No. of unique items: 185

In [39]:
otu_s = otu %>%
    unite(Taxonomy, Phylum, Class, sep=';') %>%
    spread(Taxonomy, Count) %>%
    arrange(Sample)
otu_s

    Sample              Asgardaeota;Odinarchaeia Crenarchaeota;Bathyarchaeia
1   F14_Common_Bream    0                        0.4049754
2   F157a_European_Toad 0                        0.0000000
⋮   ⋮                   ⋮                        ⋮
184 X95_Meadow_Viper    0                        0
185 X96_European_Hare   0                        0
    Diapherotrites;Iainarchaeia Euryarchaeota;Halobacteria
1   0                           0
2   0                           0
⋮   ⋮                           ⋮
184 0                           0
185 0                           0
    Euryarchaeota;Methanobacteria Euryarchaeota;Methanomicrobia
1   75.58577                      23.48857
2   78.35821                       0.00000
⋮   ⋮                             ⋮
184   0                           3.497164
185 100                           0.000000
    Euryarchaeota;Thermococci Euryarchaeota;Thermoplasmata
1   0                         0.462829
2   0                         0.000000
⋮   ⋮                         ⋮
184 0                         0.7561437
185 0                         0.0000000
    Euryarchaeota;unclassified Nanoarchaeaeota;Woesearchaeia
1   0                          0.05785363
2   0                          0.00000000
⋮   ⋮                          ⋮
184 0                          0
185 0                          0
    Thaumarchaeota;Nitrososphaeria
1    0.00000
2   21.64179
⋮   ⋮
184 95.74669
185  0.00000

### Writing table

In [40]:
outF = file.path(work_dir, 'IndD_Class-relAbund.tsv') 
otu_s %>%
    write_table(outF)

File written: /ebio/abt3_projects/Georg_animal_feces/data/16S_arch/MiSeq-Runs-116-122-126-189-190/LLA/merged//IndD_Class-relAbund.tsv

## General summary

In [26]:
otu = physeq_arch_IndD %>%
    phyloseq2df(otu_table, long=TRUE) %>%
    inner_join(phyloseq2df(physeq_arch_IndD, tax_table),
               c('OTU'))
otu

       OTU                              Sample           Count Domain
1      0e97060fe4b9be17bddeedcd27826b04 F14_Common_Bream 0     Archaea
2      a86c26bd7f16d93e38b101dbd2614a07 F14_Common_Bream 0     Archaea
⋮      ⋮                                ⋮                ⋮     ⋮
349834 9449f372c36cd2d8994d79b091425d42 X67_European_Roe 0     Archaea
349835 467eeae6997d3667b5d07a76bc1bcdfd X67_European_Roe 0     Archaea
       Phylum        Class           Order              Family
1      Euryarchaeota Methanobacteria Methanobacteriales Methanobacteriaceae
2      Euryarchaeota Methanobacteria Methanobacteriales Methanobacteriaceae
⋮      ⋮             ⋮               ⋮                  ⋮
349834 Euryarchaeota Methanobacteria Methanobacteriales Methanobacteriaceae
349835 Euryarchaeota Methanobacteria Methanobacteriales Methanobacteriaceae
       Genus              Species
1      Methanobrevibacter unclassified
2      Methanobrevibacter unclassified
⋮      ⋮                  ⋮
349834 Methanobrevibacter unclassified
349835 Methanobrevibacter unclassified

In [30]:
df.dims(20)
otu %>%
    filter(Count > 0) %>%
    filter(Class == 'Thermococci')
df.dims()

  OTU                              Sample            Count Domain
1 e54e6f3a600245221e7b9dc948c2910a X125_Common_Carp   5    Archaea
2 cd161a55fa07f62886e28ad1665f4153 X7_European_Otter 10    Archaea
  Phylum        Class       Order                Family
1 Euryarchaeota Thermococci Methanofastidiosales uncultured
2 Euryarchaeota Thermococci Methanofastidiosales Methanofastidiosaceae
  Genus                         Species
1 uncultured bacterium          uncultured bacterium
2 Candidatus Methanofastidiosum Arc I group archaeon U1lsi0528_Bin055

In [39]:
df.dims(20)
otu %>%
    filter(Count > 0) %>%
    filter(Genus == 'Methanothermobacter') %>%
    distinct(OTU, Sample) %>%
    .$Sample %>% table %>% sort(decreasing=TRUE)
df.dims()

.
               X23_Garden_Dormouse                   X121_Raccoon_Dog
                                15                                 14
                          X13_Wolf           X172_European_Greenfinch
                                13                                 13
                       X31_Chicken                      X352_Kinkajou
                                13                                 13
                 X60_European_Chub                X116_Common_Kestrel
                                13                                 12
           X158_White_tailed_Eagle         X266_Western_Marsh_Harrier
                                12                                 12
                 X32_Greylag_Goose                    X33_Wild_Turkey
                                12                                 12
                  X34_Mallard_Duck                 X384_Eurasian_Lynx
                                12                                 12
                     X426_Ural_Owl      X427_Great_Spotted_Woodpecker
                                12                                 12
                 X7_European_Otter                   X85_Domestic_Dog
                                12                                 12
                        X11_Onager                      X119_Ural_Owl
                                11                                 11
                   X154_Tree_Shrew                    X157_Grey_Heron
                                11                                 11
                X164_Greylag_Goose                  X230_Carrion_Crow
                                11                                 11
                 X234_Beech_Marten              X236_Pygmy_Slow_Loris
                                11                                 11
          X241_Italian_wall_lizard                     X259_Mute_Swan
                                11                                 11
        X265_Western_Marsh_Harrier                      X93_Red_Sheep
                                11                                 11
               X117_Long_eared_Owl                   X16_Fat_Dormouse
                                10                                 10
                    X170_Tawny_Owl                     X260_Blackbird
                                10                                 10
                 X326_Silver_Bream          X339_White_beaked_Dolphin
                                10                                 10
                          X41_Pika               X42_Goitered_Gazelle
                                10                                 10
                      X109_Red_Fox                      X15_Tawny_Owl
                                 9                                  9
                    X153_Bank_Vole                    X194_Agile_Frog
                                 9                                  9
                X252_Eurasian_Lynx        X292_Central_Bearded_Dragon
                                 9                                  9
         X338_White_beaked_Dolphin                       X353_Raccoon
                                 9                                  9
             X288_Common_Brushtail          X404_Brown_Greater_Galago
                                 8                                  8
               X247_Common_Hamster                 X40_Bactrian_Camel
                                 7                                  7
           X141_Red_cheeked_Gibbon                X22_European_Rabbit
                                 6                                  6
X363_Desmarests_Spiny_Pocket_Mouse                   X382_Arctic_Wolf
                                 6                                  6
                  F90_Domestic_Dog             X233_Aesculapian_Snake
                                 5                                  5
                  X349_Smooth_Newt                   X350_Smooth_Newt
                                 5                                  5
                  X125_Common_Carp                        X139_Sambar
                                 4                                  4
X240_Southern_White_cheeked_Gibbon      X391_European_Ground_Squirrel
                                 4                                  4
                     F66_Wild_Boar                         X213_Goose
                                 3                                  3
                        X214_Goose                 X328_Prussian_Carp
                                 3                                  3
                    X381_Wild_Boar            X396_Morelets_crocodile
                                 3                                  3
          X421_Common_Hippopotamus                       F68_Red_Deer
                                 3                                  2
                        X135_Horse                         X218_Goose
                                 2                                  2
                        X219_Goose               X270_Common_Pheasant
                                 2                                  2
              X271_Common_Pheasant          X286_Short_beaked_Echidna
                                 2                                  2
        X290_Eastern_Grey_Kangaroo                  X327_Silver_Bream
                                 2                                  2
                    X333_Gray_Seal                     X336_Sei_Whale
                                 2                                  2
            X356_Northern_Tamandua                           X372_Emu
                                 2                                  2
                    X380_Wild_Boar      X390_European_Ground_Squirrel
                                 2                                  2
             X394_Przewalski_horse                       X411_Leopard
                                 2                                  2
                      X417_Giraffe         X428_African_Bush_Elephant
                                 2                                  2
                      X429_Giraffe                      X94_Mangalica
                                 2                                  2
                 X96_European_Hare                        F53_Mouflon
                                 2                                  1
                      F69_Red_Deer                       F70_Red_Deer
                                 1                                  1
                      F80_Red_Deer                          X138_Gaur
                                 1                                  1
                       X146_Cattle                     X174_Great_Tit
                                 1                                  1
                        X179_Roach                      X203_Red_Deer
                                 1                                  1
                        X212_Goose                         X215_Goose
                                 1                                  1
               X238_Hanuman_Langur                         X283_Koala
                                 1                                  1
         X285_Short_beaked_Echidna                 X305_European_Hare
                                 1                                  1
                          X330_Ide       X340_Western_Lowland_Gorilla
                                 1                                  1
            X360_White_tailed_Deer      X368_European_Ground_Squirrel
                                 1                                  1
                        X369_Koala         X370_African_Bush_Elephant
                                 1                                  1
                 X378_Fat_Sand_Rat         X408_African_Bush_Elephant
                                 1                                  1
                       X409_Impala                        X410_Impala
                                 1                                  1
                X414_Vervet_Monkey                        X423_Quagga
                                 1                                  1
                X432_Vervet_Monkey                X88_European_Rabbit
                                 1                                  1

In [47]:
df.dims(20)
otu %>%
    filter(Count > 0) %>%
    filter(Genus == 'Methanothermobacter') %>%
    .$OTU %>% table %>% sort(decreasing=TRUE) %>%
    as.numeric %>% summary_x

  Min. 1st Qu. Median Mean     3rd Qu. Max. sd     sd_err_of_mean
. 1    1       1      17.79487 38      78   30.753 12.555

In [48]:
df.dims(20)
otu %>%
    filter(Count > 0) %>%
    filter(Genus == 'Methanothermobacter') %>%
    .$Sample %>% table %>% sort(decreasing=TRUE)

.
               X23_Garden_Dormouse                   X121_Raccoon_Dog
                                15                                 14
                          X13_Wolf           X172_European_Greenfinch
                                13                                 13
                       X31_Chicken                      X352_Kinkajou
                                13                                 13
                 X60_European_Chub                X116_Common_Kestrel
                                13                                 12
           X158_White_tailed_Eagle         X266_Western_Marsh_Harrier
                                12                                 12
                 X32_Greylag_Goose                    X33_Wild_Turkey
                                12                                 12
                  X34_Mallard_Duck                 X384_Eurasian_Lynx
                                12                                 12
                     X426_Ural_Owl      X427_Great_Spotted_Woodpecker
                                12                                 12
                 X7_European_Otter                   X85_Domestic_Dog
                                12                                 12
                        X11_Onager                      X119_Ural_Owl
                                11                                 11
                   X154_Tree_Shrew                    X157_Grey_Heron
                                11                                 11
                X164_Greylag_Goose                  X230_Carrion_Crow
                                11                                 11
                 X234_Beech_Marten              X236_Pygmy_Slow_Loris
                                11                                 11
          X241_Italian_wall_lizard                     X259_Mute_Swan
                                11                                 11
        X265_Western_Marsh_Harrier                      X93_Red_Sheep
                                11                                 11
               X117_Long_eared_Owl                   X16_Fat_Dormouse
                                10                                 10
                    X170_Tawny_Owl                     X260_Blackbird
                                10                                 10
                 X326_Silver_Bream          X339_White_beaked_Dolphin
                                10                                 10
                          X41_Pika               X42_Goitered_Gazelle
                                10                                 10
                      X109_Red_Fox                      X15_Tawny_Owl
                                 9                                  9
                    X153_Bank_Vole                    X194_Agile_Frog
                                 9                                  9
                X252_Eurasian_Lynx        X292_Central_Bearded_Dragon
                                 9                                  9
         X338_White_beaked_Dolphin                       X353_Raccoon
                                 9                                  9
             X288_Common_Brushtail          X404_Brown_Greater_Galago
                                 8                                  8
               X247_Common_Hamster                 X40_Bactrian_Camel
                                 7                                  7
           X141_Red_cheeked_Gibbon                X22_European_Rabbit
                                 6                                  6
X363_Desmarests_Spiny_Pocket_Mouse                   X382_Arctic_Wolf
                                 6                                  6
                  F90_Domestic_Dog             X233_Aesculapian_Snake
                                 5                                  5
                  X349_Smooth_Newt                   X350_Smooth_Newt
                                 5                                  5
                  X125_Common_Carp                        X139_Sambar
                                 4                                  4
X240_Southern_White_cheeked_Gibbon      X391_European_Ground_Squirrel
                                 4                                  4
                     F66_Wild_Boar                         X213_Goose
                                 3                                  3
                        X214_Goose                 X328_Prussian_Carp
                                 3                                  3
                    X381_Wild_Boar            X396_Morelets_crocodile
                                 3                                  3
          X421_Common_Hippopotamus                       F68_Red_Deer
                                 3                                  2
                        X135_Horse                         X218_Goose
                                 2                                  2
                        X219_Goose               X270_Common_Pheasant
                                 2                                  2
              X271_Common_Pheasant          X286_Short_beaked_Echidna
                                 2                                  2
        X290_Eastern_Grey_Kangaroo                  X327_Silver_Bream
                                 2                                  2
                    X333_Gray_Seal                     X336_Sei_Whale
                                 2                                  2
            X356_Northern_Tamandua                           X372_Emu
                                 2                                  2
                    X380_Wild_Boar      X390_European_Ground_Squirrel
                                 2                                  2
             X394_Przewalski_horse                       X411_Leopard
                                 2                                  2
                      X417_Giraffe         X428_African_Bush_Elephant
                                 2                                  2
                      X429_Giraffe                      X94_Mangalica
                                 2                                  2
                 X96_European_Hare                        F53_Mouflon
                                 2                                  1
                      F69_Red_Deer                       F70_Red_Deer
                                 1                                  1
                      F80_Red_Deer                          X138_Gaur
                                 1                                  1
                       X146_Cattle                     X174_Great_Tit
                                 1                                  1
                        X179_Roach                      X203_Red_Deer
                                 1                                  1
                        X212_Goose                         X215_Goose
                                 1                                  1
               X238_Hanuman_Langur                         X283_Koala
                                 1                                  1
         X285_Short_beaked_Echidna                 X305_European_Hare
                                 1                                  1
                          X330_Ide       X340_Western_Lowland_Gorilla
                                 1                                  1
            X360_White_tailed_Deer      X368_European_Ground_Squirrel
                                 1                                  1
                        X369_Koala         X370_African_Bush_Elephant
                                 1                                  1
                 X378_Fat_Sand_Rat         X408_African_Bush_Elephant
                                 1                                  1
                       X409_Impala                        X410_Impala
                                 1                                  1
                X414_Vervet_Monkey                        X423_Quagga
                                 1                                  1
                X432_Vervet_Monkey                X88_European_Rabbit
                                 1                                  1

# sessionInfo

In [15]:
sessionInfo()

R version 3.6.3 (2020-02-29)
Platform: x86_64-conda_cos6-linux-gnu (64-bit)
Running under: Ubuntu 18.04.5 LTS

Matrix products: default
BLAS/LAPACK: /ebio/abt3_projects/Georg_animal_feces/envs/phyloseq/lib/libopenblasp-r0.3.9.so

locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C
 [3] LC_TIME=en_US.UTF-8        LC_COLLATE=en_US.UTF-8
 [5] LC_MONETARY=en_US.UTF-8    LC_MESSAGES=en_US.UTF-8
 [7] LC_PAPER=en_US.UTF-8       LC_NAME=C
 [9] LC_ADDRESS=C               LC_TELEPHONE=C
[11] LC_MEASUREMENT=en_US.UTF-8 LC_IDENTIFICATION=C

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

other attached packages:
[1] LeyLabRMisc_0.1.6 ape_5.4           phyloseq_1.30.0   ggplot2_3.3.1
[5] tidyr_1.1.0       dplyr_1.0.0

loaded via a namespace (and not attached):
 [1] Rcpp_1.0.4.6        lattice_0.20-41     Biostrings_2.54.0
 [4] digest_0.6.25       foreach_1.5.0       IRdisplay_0.7.0
 [7] R6_2.4.1            plyr_1.8.6          repr_1.1.0
[10] stats4_3.6.3        evaluate_0.14       pillar_1.4.4
[13] zlibbioc_1.32.0     rlang_0.4.6         uuid_0.1-4
[16] data.table_1.12.8   vegan_2.5-6         S4Vectors_0.24.0
[19] Matrix_1.2-18       splines_3.6.3       stringr_1.4.0
[22] igraph_1.2.5        munsell_0.5.0       compiler_3.6.3
[25] pkgconfig_2.0.3     BiocGenerics_0.32.0 base64enc_0.1-3
[28] multtest_2.42.0     mgcv_1.8-31         htmltools_0.4.0
[31] biomformat_1.14.0   tidyselect_1.1.0    tibble_3.0.1
[34] IRanges_2.20.0      codetools_0.2-16    permute_0.9-5
[37] crayon_1.3.4        withr_2.2.0         MASS_7.3-51.6
[40] grid_3.6.3          nlme_3.1-148        jsonlite_1.6.1
[43] gtable_0.3.0        lifecycle_0.2.0     magrittr_1.5
[46] scales_1.1.1        stringi_1.4.6       XVector_0.26.0
[49] reshape2_1.4.4      ellipsis_0.3.1      generics_0.0.2
[52] vctrs_0.3.0         IRkernel_1.1        Rhdf5lib_1.8.0
[55] iterators_1.0.12    tools_3.6.3         ade4_1.7-15
[58] Biobase_2.46.0      glue_1.4.1          purrr_0.3.4
[61] parallel_3.6.3      survival_3.1-12     colorspace_1.4-1
[64] rhdf5_2.30.0        cluster_2.1.0       pbdZMQ_0.3-3